<!DOCTYPE html>
<html lang="en" data-ng-app="vivoStore">

<head>
    <meta http-equiv="Content-Language" content="en" />

    <meta name="keywords" content="" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Vivocarat">
    <meta name="author" content="Vivo">
    <link rel="icon" href="images/icons/favico.png" type="image/x-icon" />
    <meta property="og:url" content="http://www.vivocarat.com" />
    <meta property="og:type" content="Online Jewellery" />
    <meta property="og:title" content="Vivocarat" />
    <meta property="og:description" content="India's finest online jewellery" />
    <meta property="og:image" content="http://www.vivocarat.com" />
    <title>VivoCarat - Online Jewellery Shopping Destination in India | Best Gold and Diamond Jewelry Designs at low prices | Trusted Online Jewellery store</title>
    <meta name="keywords" content="online jewellery shopping store, diamond jewellery, gold jewellery, online jewellery india, jewellery website, vivocarat jewellery, vivocarat designs, jewellery designs, fashion jewellery, indian jewellery, designer jewellery, diamond Jewellery, online jewellery shopping india, jewellery websites, diamond jewellery india, gold jewellery online, Indian diamond jewellery" />
    <meta name="description" content="VivoCarat.com - Buy the best Gold and Diamond Jewellery Online in India with the latest jewellery designs from trusted brands at low and affordable prices. We promise CERTIFIED & HALLMARKED jewellery, FREE SHIPPING, Cash on Delivery (COD), EASY RETURN POLICY, Lifetime exchange policy, best discounts, coupons and offers. VivoCarat offers Gold Coins, Solitaire Jewellery, Gold, Gemstone, Platinum and Diamond Jewellery Online for Men and Women at Best Prices in India. Buy Rings, Pendants, Ear Rings, Bangles, Necklaces, Bangles, Bracelets, Chains and more." />

<!--    <link rel="canonical" href="http://www.vivocarat.com/" />-->

    <!-- SEO-->
    <meta name="robots" content="index,follow" />
    <meta name="google-site-verification" content="d29imIOMXVw4oDrvX0W26H7Dg3_nAHDi75mhXZ5Wpc4" />

    <link rel="stylesheet" href="css/kendo.common-material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.min.css" />


    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1026045347487468&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    <link rel="stylesheet" href="css/arthref.css">

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/form.css" rel="stylesheet" type="text/css" media="all" />

    <!--end slider -->
    <!-- start menu -->
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/etalage.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/angular.rangeSlider.css" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '293278664418362', {
    em: 'insert_email_variable,'
    });
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=293278664418362&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
</head>
    
<body style="overflow-x: hidden;" ng-cloak>

    
<vivo-header></vivo-header>

<div data-ng-controller='storeCtrl'>

<div data-ng-hide="categoriesList==null || categoriesList=='' || categoriesList.length<1" class="row padding-top-5px">
 <div class="col-md-12 no-padding-left-right">
  <img data-ng-src="images/store/banners/{{store}}.jpg" class="width-100-percent">  
 </div>    
</div>
    
<div class="container">
    
<div data-ng-if="store!='home'">
    
<div class="row">
 <div class="col-lg-3 vivocarat-heading">CATEGORIES</div>

 <div class="col-lg-9 categoryGrad margin-top-68px">

 </div>
</div>
    
 <div class="row well margin-top-30px" data-ng-show="categoriesList==null || categoriesList=='' || categoriesList.length<1">
  <div class="col-md-12 no-padding-left-right">
    No such store found 
  </div>
 </div>
    
 <div data-ng-hide="categoriesList==null || categoriesList=='' || categoriesList.length<1" class="row padding-bottom-60px">

  <div data-ng-repeat="c in categoriesList" class="col-sm-6 home-panel-row">
   <a data-ng-href="p-splist.html?store={{store}}&type={{c.category}}">

    <img class="store-category-image img-responsive" data-ng-src="images/store/store_category/{{store}}/{{c.category}}.jpg">

   </a>
  </div>
                

 </div>

<div class="row">
 <div class="col-lg-4 vivocarat-heading">ABOUT THE JEWELLER</div>

 <div class="col-lg-8 categoryGrad margin-top-68px">

 </div>
</div>
     
<div class="row padding-top-20px">
 <div class="col-lg-12 normal-text" style="font-size:15px" data-ng-bind-html='jeweller.description'>
      
  </div>   
</div>

          
 
</div>
    
    
</div>

</div>
<vivo-footer></vivo-footer>

<script src="js/jquery.js"></script>
<!--start slider -->
<link rel="stylesheet" href="css/fwslider.css">
<script src="js/jquery-ui.min.js"></script>
<script src="js/css3-mediaqueries.js"></script>

<script type="text/javascript" src="js/megamenu.js"></script>

<script src="js/slides.min.jquery.js">
</script>
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="js/jquery.easydropdown.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/custom.js"></script>

<script src="js/socialShare.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/satellizer.min.js"></script>
<script src="js/angular.rangeSlider.js"></script>
<script src="js/select.js"></script>
<script src="js/toaster.js"></script>
<script src="js/kendo.all.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="js/updateMeta.js"></script>
<script src="js/update-meta.directive.js"></script>
<script src="js/update-title.directive.js"></script>
<script src="js/taggedInfiniteScroll.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/angular-google-plus.min.js"></script>

<script src="js/jquery.etalage.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>

<!--  start angularjs modules  -->
<script src="app/modules/vivoCommon.js"></script>
<script src="app/modules/vivoStore.js"></script>
<!-- end angularjs modules -->
    
<script src="app/data.js"></script>
<script src="app/directives.js"></script>
    
<!-- Start include Controller for angular -->
<script src="app/ctrls/footerCtrl.js"></script>
<!--  Start include Controller for angular -->
    
    <script src="device-router.js"></script>


<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/daterangepicker.js"></script>

<!--Scroller script-->
<script type="text/javascript" src="js/jquery.simplyscroll.js"></script>

<script src="js/fwslider.js"></script>    

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-67690535-1', 'auto');
 ga('send', 'pageview');

</script>

</body>
</html>        