<vivo-header></vivo-header>
<div class="container mob-top-pad">
    <div class="login">
        <div class="wrap">
            <div class="page-not-found">
                <h1>404</h1>
            </div>
        </div>
    </div>

</div>
<vivo-footer></vivo-footer>