
<vivo-header></vivo-header>

<div class="container mob-top-pad">
    
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-9 vivocarat-heading no-padding-left">ABOUT VIVOCARAT</div>

 <div class="col-xs-3 categoryGrad">

 </div>
</div>
    
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-12 text-center no-pad" style="color: #898997 !important;">
            
            <p class="about-styling no-padding-left-right">VivoCarat is an online curated marketplace of exquisite jewelleries from your trusted jewellers. We have a stunning collection of necklaces, pendants, earrings, rings, bangles, etc. finely curated for every occasion in your life.</p>
     
            <p class="about-styling no-padding-left-right">At VivoCarat, we understand that walking in to the store and spending endless amount of time looking for that one perfect set of necklace is simply not feasible. And therefore, we made it our mission to bring the best of jewelleries from your neighbourhood jewellers at your place.</p>
     
            <p class="about-styling no-padding-left-right">With the comfort and convenience of your home, you can discover, browse and buy jewelleries with just a few clicks. We do not want our customers to settle for anything less. And hence, we have partnered with traditional and reputed jewellers, known for their craftsmanship and designs, so that you can rest assured the jewelleries are of highest quality.</p>
     
            <p class="about-styling no-padding-left-right">We want our customers to have a pleasant and memorable experience while shopping with us. We wish our customers happy shopping!</p>
     
        </div>
    
        <div class="col-xs-12 text-center" style="margin-top:30px;margin-bottom:30px;color: #696969 !important;">
            <div class="row">
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/trust.png"></p>
                    <h4 class="vivocarat-theme-colour">Trusted Jewellers</h4>
                </div>
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/certified.png"></p>
                    <h4 class="vivocarat-theme-colour">Certified & Hallmarked</h4>
                </div>
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/shipping.png"></p>
                    <h4 class="vivocarat-theme-colour">Free Shipping</h4>
                </div>
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/return.png"></p>
                    <h4 class="vivocarat-theme-colour">Easy Return Policy</h4>
                </div>
            </div>
        </div>
</div>
    
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-4 vivocarat-heading-sm no-padding-left">ABOUT VIVOCARAT</div>

 <div class="col-sm-8 categoryGrad-sm">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-xs-12 text-center no-padding-left-right" style="color: #898997 !important;">
            
            <p class="about-styling-sm no-padding-left-right">VivoCarat is an online curated marketplace of exquisite jewelleries from your trusted jewellers. We have a stunning collection of necklaces, pendants, earrings, rings, bangles, etc. finely curated for every occasion in your life.</p>
     
            <p class="about-styling-sm no-padding-left-right">At VivoCarat, we understand that walking in to the store and spending endless amount of time looking for that one perfect set of necklace is simply not feasible. And therefore, we made it our mission to bring the best of jewelleries from your neighbourhood jewellers at your place.</p>
     
            <p class="about-styling-sm no-padding-left-right">With the comfort and convenience of your home, you can discover, browse and buy jewelleries with just a few clicks. We do not want our customers to settle for anything less. And hence, we have partnered with traditional and reputed jewellers, known for their craftsmanship and designs, so that you can rest assured the jewelleries are of highest quality.</p>
     
            <p class="about-styling-sm no-padding-left-right">We want our customers to have a pleasant and memorable experience while shopping with us. We wish our customers happy shopping!</p>
     
        </div>
    
        <div class="col-xs-12 text-center" style="margin-top:30px;margin-bottom:30px;color: #696969 !important;">
            <div class="row">
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/trust.png"></p>
                    <h4 class="vivocarat-theme-colour">Trusted Jewellers</h4>
                </div>
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/certified.png"></p>
                    <h4 class="vivocarat-theme-colour">Certified & Hallmarked</h4>
                </div>
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/shipping.png"></p>
                    <h4 class="vivocarat-theme-colour">Free Shipping</h4>
                </div>
                <div class="col-sm-3">
                    <p><img src="images/mobile/about us/icons/return.png"></p>
                    <h4 class="vivocarat-theme-colour">Easy Return Policy</h4>
                </div>
            </div>
        </div>
</div>
    
</div>

<vivo-footer></vivo-footer>