<style>
    .header {
        font-size: 25px;
        font-family: 'leela';
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 20px;
        color: #E62739 !important;
    }
    
    .subheader {
        font-size: 16px;
        font-family: 'leela';
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    

    /*Table CSS*/
    
    .CompareTable {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border: 1px solid #eee;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .CompareTable table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .CompareTable tr:last-child td:last-child {
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .CompareTable table tr:first-child td:first-child {
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .CompareTable table tr:first-child td:last-child {
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .CompareTable tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .CompareTable tr:hover td {}
    
    .CompareTable tr:nth-child(odd) {
        background-color: #ffffff;
    }
    
    .CompareTable tr:nth-child(even) {
        background-color: #fafafa;
    }
    
    .CompareTable td {
        vertical-align: middle;
        border: 1px solid #eee;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 7px;
        font-size: 13px;
        font-family: 'leela';
        font-weight: normal;
        color: #000000;
    }
    
    .CompareTable tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }
    
    .CompareTable tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CompareTable tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }
    
    .CompareTable tr:first-child td {
        background: -o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
        background: -moz-linear-gradient( center top, #ffffff 5%, #ffffff 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
        background: -o-linear-gradient(top, #ffffff, ffffff);
        background-color: #ffffff;
        border: 0px solid #eee;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 13px;
        font-family: 'leela';
        font-weight: normal;
        color: #ffffff;
    }
    
    .CompareTable tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
        background: -moz-linear-gradient( center top, #ffffff 5%, #ffffff 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
        background: -o-linear-gradient(top, #ffffff, ffffff);
        background-color: #ffffff;
    }
    
    .CompareTable tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CompareTable tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }
    .gothbody-wishlist {
    font-family: 'leela';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
    
    /*END of table CSS*/
</style>
<div class="container mob-top-pad">

<vivo-header></vivo-header>

<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-9 vivocarat-heading">COMPARE PRODUCTS</div>

 <div class="col-xs-3 categoryGrad margin-top-68px">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-4 vivocarat-heading">COMPARE PRODUCTS</div>

 <div class="col-sm-8 categoryGrad margin-top-68px">

 </div>
</div>
    
<div data-ng-if="p.length<2" class="well normal-text">
        Please select at least two products to compare. 
</div>
    
<div data-ng-if="p.length>1" class="CompareTable">
        <table>
            <tr>
                <td style="width:15%;">

                </td>
                <td data-ng-if="p.length>0" style="width:15%;">
                    <div class="row">
                        <div class="col-xs-12 no-pad">
                            <div class="row">
                                <a href="p-product.html?id={{p[0].id}}">
                                    <img class="img-responsive" ng-src="images/products-v2/{{p[0].VC_SKU}}-1.jpg"/>
                                </a>
                                <div class="row">
                                    <a href="#">
                                        <div class="col-xs-12 no-pad">
                                            <div class="row">
                                                <div class="col-xs-12 grid-price-after">RS.{{p[0].price_after_discount}}
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td data-ng-if="p.length>1" style="width:15%;">
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="row">
                                <a href="p-product.html?id={{p[1].id}}">
                                    <img class="img-responsive" ng-src="images/products-v2/{{p[1].VC_SKU}}-1.jpg"/>
                                </a>
                                <div class="row">
                                    <a href="#">
                                        <div class="col-xs-12 no-padding">
                                            <div class="row">
                                                <div class="col-xs-12 grid-price-after">RS.{{p[1].price_after_discount}}
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width:15%;" data-ng-if="p.length>2">
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="row">
                                <a href="p-product.html?id={{p[2].id}}">
                                    <img class="img-responsive" ng-src="images/products-v2/{{p[2].VC_SKU}}-1.jpg"/>
                                </a>
                                <div class="row">
                                    <a href="#">
                                        <div class="col-xs-12 no-padding">
                                            <div class="row">
                                                <div class="col-xs-12 grid-price-after">RS.{{p[2].price_after_discount}}
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td data-ng-if="p.length>3" style="width:15%;">
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="row">
                                <a href="p-product.html?id={{p[3].id}}">
                                    <img class="img-responsive" ng-src="images/products-v2/{{p[3].VC_SKU}}-1.jpg"/>
                                </a>
                                <div class="row">
                                    <a href="#">
                                        <div class="col-xs-12 no-padding">
                                            <div class="row">
                                                <div class="col-xs-12 grid-price-after">RS.{{p[3].price_after_discount}}
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    SKU
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].VC_SKU}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].VC_SKU}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].VC_SKU}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].VC_SKU}}
                </td>
            </tr>
            <tr>
                <td>
                    Product Type
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].category}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].category}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].category}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].category}}
                </td>
            </tr>
            <tr>
                <td>
                    Brand
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].supplier_name}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].supplier_name}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].supplier_name}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].supplier_name}}
                </td>
            </tr>
            <tr>
                <td>
                    Item Package Quantity
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].unit_quantity}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].unit_quantity}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].unit_quantity}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].unit_quantity}}
                </td>
            </tr>
            <tr>
                <td>
                    Occassion
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].occasion}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].occasion}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].occasion}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].occasion}}
                </td>
            </tr>
            <tr>
                <td>
                    Metal
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].metal}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].metal}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].metal}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].metal}}
                </td>
            </tr>
            <tr>
                <td>
                    Purity
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].purity}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].purity}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].purity}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].purity}}
                </td>
            </tr>
            <tr>
                <td>
                    Approx. Metal Weight
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].weight}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].weight}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].weight}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].weight}}
                </td>
            </tr>
            <tr>
                <td>
                    Available Sizes
                </td>
                <td data-ng-if="p.length>0">
                    {{p[0].ring_size}}
                </td>
                <td data-ng-if="p.length>1">
                    {{p[1].ring_size}}
                </td>
                <td data-ng-if="p.length>2">
                    {{p[2].ring_size}}
                </td>
                <td data-ng-if="p.length>3">
                    {{p[3].ring_size}}
                </td>
            </tr>
            <tr>
                <td>
                    Wishlist
                </td>
                <td data-ng-if="p.length>0">
                    <div class="row" style="padding-left:85px;">
                        <div class="col-xs-4 no-pad">
                         <a data-ng-click="addToWatchlist(p)">
                          <img src="images/mobile/compare/icons/wishlist.png">
                         </a>
                        </div>
                    </div>
                </td>
                <td data-ng-if="p.length>1">
                    <div class="row" style="padding-left:85px;">
                        <div class="col-xs-4 no-pad">
                         <a data-ng-click="addToWatchlist(p)">
                          <img src="images/mobile/compare/icons/wishlist.png">
                         </a>

                        </div>
                    </div>
                </td>
                <td data-ng-if="p.length>2">
                    <div class="row" style="padding-left:85px;">
                        <div class="col-xs-4 no-pad">
                         <a data-ng-click="addToWatchlist(p)">
                          <img src="images/mobile/compare/icons/wishlist.png">
                         </a>

                        </div>
                    </div>
                </td>
                <td data-ng-if="p.length>3">
                    <div class="row" style="padding-left:85px;">
                        <div class="col-xs-4 no-pad">
                         <a data-ng-click="addToWatchlist(p)">
                          <img src="images/mobile/compare/icons/wishlist.png">
                         </a>

                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>    
    
</div>
<!--End of container-->
<vivo-footer></vivo-footer>