<style>
    .about-styling {
        font-family: 'leela';
        font-size: 10px;
        font-weight:bold;
        text-align: justify;
    }

    .text-style{
        color:  #E62739 !important;
        font-family: 'leela';
        font-size:13px;
        font-weight:bold;  
        text-transform:uppercase;
        text-align:center;
    }
    
    .about-styling-sm {
        font-family: 'leela';
        font-size: 20px;
        text-align: justify;
    }
    .text-style-sm{
        color:  #E62739 !important;
        font-family: 'leela';
        font-size:25px;
        font-weight:600;
        text-transform:uppercase;
        text-align:center;
    }
    .content-shadow{
       -webkit-box-shadow: 1px 1px 5px 0px rgba(136,136,136,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(136,136,136,1);
box-shadow: 1px 1px 5px 0px rgba(136,136,136,1);
    }
</style>

<vivo-header></vivo-header>

<div class="mob-top-pad visible-xs hidden-sm hidden-md">
<div class="container">
        <div class="col-xs-12 no-pad" style="padding-top: 15px !important;">
            <img src="images/mobile/jewel-ed/dia_edu_main_banner_mobile.jpg" class="no-pad content-shadow">
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                CARAT
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_cart_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts">Carat represents the weight of the diamond and is abbreviated as CT. Not to be mistaken by the quality of a diamond, the Carat unit merely denotes its size by weight. It is also one of the easiest measurement to determine amongst the 4C’s. One carat is one fifth of a gram. Large diamonds are rare to find and because of this the price increases with the increase in its carat. So two one-carat diamonds are less expensive than one two-carat diamond.
                </p>
            </div>
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                COLOR
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_color_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts">Diamonds are measured by the lack of their color and its denoted by their respective grades. The grades have been devised by The Gemological Institute of America and they follow certain guidelines. The grading starts from letter D and stretches upto letter Z. The highest grades are D, E, F and are absolutely colorless and rarest. G through J comes next and are nearly colorless. K, L, M grades are noticeable color and are faint yellow. N through Z are further shades of yellow; from very light yellow to light yellow. 
                </p>
            </div>
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                CLARITY
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_clairity_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts">Diamonds are bound to have some imperfections. Clarity is the measure of tiny little imperfections. The internal imperfections are called inclusions while the external ones are called blemishes. In short, the clearer the diamond, the better it is. Clarity grades FL and IF denotes Flawless and Internally Flawless which are very rare. VVS1 and VVS2 is Very Very Slightly Included where imperfections are very difficult to see under 10x magnification. Imperfections are vaguely detectable under 10x magnification in VS1 and VS2, Very Slightly Included. SI1 and SI2 are Slightly Included where imperfections are easily detectable under 10x magnification.
                </p>
            </div>
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                CUT
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;margin-bottom:20px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_cut_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts"> Diamond’s cut grade indicates its light performance. It’s one of the most characteristic feature of a diamond. Also because all the other C’s are influenced by nature while cut is determined by it’s makers. Cut grades are Ideal/Excellent, Very Good, Good, Fair and Poor; in the decreasing order of their light performance. Alternatively, the more a diamond reflects the light, the higher is its quality. The important thing to note here is that the cut of a diamond is different from the its shape. Shape is the external appearance of the diamond, while the cut is more indicative of its reflective qualities.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mob-top-pad visible-sm hidden-xs hidden-md">
    <div class="container">
        <div class="col-xs-12 no-pad" style="padding-top: 15px !important;">
            <img src="images/mobile/jewel-ed/dia_edu_main_banner_mobile.jpg" class="no-pad content-shadow">
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                CARAT
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_cart_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts">Carat represents the weight of the diamond and is abbreviated as CT. Not to be mistaken by the quality of a diamond, the Carat unit merely denotes its size by weight. It is also one of the easiest measurement to determine amongst the 4C’s. One carat is one fifth of a gram. Large diamonds are rare to find and because of this the price increases with the increase in its carat. So two one-carat diamonds are less expensive than one two-carat diamond.
                </p>
            </div>
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                COLOR
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_color_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts">Diamonds are measured by the lack of their color and its denoted by their respective grades. The grades have been devised by The Gemological Institute of America and they follow certain guidelines. The grading starts from letter D and stretches upto letter Z. The highest grades are D, E, F and are absolutely colorless and rarest. G through J comes next and are nearly colorless. K, L, M grades are noticeable color and are faint yellow. N through Z are further shades of yellow; from very light yellow to light yellow. 
                </p>
            </div>
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                CLARITY
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_clairity_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts">Diamonds are bound to have some imperfections. Clarity is the measure of tiny little imperfections. The internal imperfections are called inclusions while the external ones are called blemishes. In short, the clearer the diamond, the better it is. Clarity grades FL and IF denotes Flawless and Internally Flawless which are very rare. VVS1 and VVS2 is Very Very Slightly Included where imperfections are very difficult to see under 10x magnification. Imperfections are vaguely detectable under 10x magnification in VS1 and VS2, Very Slightly Included. SI1 and SI2 are Slightly Included where imperfections are easily detectable under 10x magnification.
                </p>
            </div>
        </div>
        <div class="col-xs-12" style="padding:30px; z-index:1">
            <div class="col-xs-12 text-left content-shadow text-style" style="color:#E62739 !important;padding:30px; background-color:#f4f1e0;padding:13px;">
                CUT
            </div>
        </div>
        <div class="col-xs-12 content-shadow text-center" style="padding-top:60px;margin-top: -55px;margin-bottom:20px;">
            <img src="images/mobile/jewel-ed/dia_edu_main_cut_mobile.jpg" class="content-shadow" style="width: 70%; margin-bottom:20px">
            <div class="col-xs-12 col-sm-12 col-md-6 about-styling no-pad" style="margin-bottom:30px;">
                <p class="about-styling body-fonts"> Diamond’s cut grade indicates its light performance. It’s one of the most characteristic feature of a diamond. Also because all the other C’s are influenced by nature while cut is determined by it’s makers. Cut grades are Ideal/Excellent, Very Good, Good, Fair and Poor; in the decreasing order of their light performance. Alternatively, the more a diamond reflects the light, the higher is its quality. The important thing to note here is that the cut of a diamond is different from the its shape. Shape is the external appearance of the diamond, while the cut is more indicative of its reflective qualities.
                </p>
            </div>
        </div>
    </div>
</div>



<vivo-footer></vivo-footer>