<style>
.right-left-pad {
    padding-right: 0px !important;
    padding-left: 5px !important;
    border: none !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.extra-pad {
    padding-top: 8% !important;
    padding-bottom: 8% !important;
    border: none !important;
}

.nav-tabs>li>a:hover {
    border-color: none;
}

.nav-tabs>li {
    width: 100%;
}

.nav-tabs>li>a:hover {
    background-color: white !important;
    margin-right: 0px !important;
}

.mobarrow {
    color:#E62739 !important;
}
    
.ngrs-range-slider .ngrs-join {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 100%;
    height: 8px;
    margin: -4px 0 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #e62739;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e62739), color-stop(100%, #e62739));
    background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
    background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
    background-image: linear-gradient(#e62739, #e62739);
}
</style>
<vivo-header></vivo-header>

<div class="mob-top-pad">
 <div data-ng-show="!isFilter" style="overflow-y:hidden;">
  <div style="border: 1px solid #eee;">

   <div class="row">
    <div class="col-xs-12 no-pad">
                        
     <div class="row">
      <div class="col-xs-12">
       <h4 class="head visible-xs hidden-md hidden-sm category-text">
        <span data-ng-if="subtype=='q'">
            Search results for 
        </span>
        {{resultfor === "1" ? "All" : resultfor}} 
        <span data-ng-if="subtype!='q' && subtype!='w'" class="vivocarat-theme-colour">
            ({{subtype}})
        </span>
       </h4>
        
       <h4 class="head visible-sm visible-md hidden-xs category-text-sm">
        <span data-ng-if="subtype=='q'">
            Search results for 
        </span>
          {{resultfor === "1" ? "All" : resultfor}} 
        <span data-ng-if="subtype!='q' && subtype!='w'">
            ({{subtype}})
        </span>
       </h4>
      </div>
     </div>  
        
     <div class="row visible-xs hidden-md hidden-sm home-position">
      <div class="col-xs-8 filter-header-text no-padding-right">
        Home / {{resultfor === "1" ? "All" : resultfor}} 
       <span class="grey-colour" data-ng-if="subtype!='q' && subtype!='w'">
        - {{subtype}}
       </span>
      </div>

      <div class="col-xs-4 no-padding-left grey-colour text-right normal-text">
        {{count}} items
      </div> 
     </div>
                            
     <div class="row visible-sm visible-md hidden-xs home-position">
      <div class="col-sm-8 filter-header-text no-padding-right">
        Home / {{resultfor === "1" ? "All" : resultfor}} 
       <span class="grey-colour" data-ng-if="subtype!='q' && subtype!='w'">
        - {{subtype}}
       </span>
      </div>

      <div class="col-sm-4 no-padding-left grey-colour text-right normal-text">
        {{count}} items
      </div>  
     </div>
                                                    
     <vivo-product-list></vivo-product-list>
                        
     <div class="row" id='loadmore' tagged-infinite-scroll='loadMore()'></div>
                        
     <div class="clear" style="margin-bottom: 50px;"></div>
                        
    </div>
   </div>
            
  </div>
 </div>

<vivo-filter></vivo-filter>
    
</div>

<vivo-footer></vivo-footer>

<!-- BackToTop Button -->
<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
<!-- End   -->

<script>
$(document).ready(function(){
   $(window).scroll(function(){
       if ($(this).scrollTop() > 100) {
           $('#scroll').fadeIn();
       } else {
           $('#scroll').fadeOut();
       }
   });
   $('#scroll').click(function(){
       $("html, body").animate({ scrollTop: 0 }, 700);
       return false;
   });
});
</script>