<style>
body{
    background-color: #e8ebf0 !important;
}
</style>
<vivo-header></vivo-header>

<div class="row mob-top-pad">
    
<div class="container">
    
<div class="row padding-top-30px visible-xs hidden-sm hidden-md">
 <div class="row lookbook-category-text">
 <div class="col-xs-8 no-padding-left-right">
  
  <div class="row">
   <div class="col-xs-7 text-left no-padding-left-right normal-text">
     {{list.category}} 
   </div>
      
   <div class="col-xs-5 no-padding-left-right normal-text">
    {{list.created_at | dateToISO | date:'dd MMMM'}}  
   </div>
  </div>
     
 </div> 
    
<!--
 <div class="col-xs-4 no-padding-left-right">
  <div class="row">
   <div class="col-xs-6 no-padding-left-right">
    <p class="margin-none normal-text">{{list.like_count}}
     <img src="images/lookbook/icons/lb_like.png"> 
    </p>
   </div>
      
   <div class="col-xs-6 no-padding-left-right">
    <p class="margin-none normal-text">11
     <img src="images/lookbook/icons/lb_share.png"> 
    </p>
   </div>
  </div>  
 </div>
-->
 </div>   
</div>

<div class="row padding-top-30px visible-sm visible-md hidden-xs">
  <div class="row lookbook-category-text-sm">
 <div class="col-sm-9 no-padding-left">
  
  <div class="row">
   <div class="col-sm-6 text-left no-padding-left-right">
     {{list.category}} 
   </div>
      
   <div class="col-sm-6">
    {{list.created_at | dateToISO | date:'dd MMMM'}}  
   </div>
  </div>
     
 </div> 
    
<!--
 <div class="col-sm-3">
  <div class="row">
   <div class="col-sm-6 no-padding-left-right">
    <p class="margin-none">{{list.like_count}}
     <img src="images/lookbook/icons/lb_like.png">
    </p>
   </div>
      
   <div class="col-sm-6 no-padding-left-right">
    <p class="margin-none">11 &nbsp;&nbsp;
     <img src="images/lookbook/icons/lb_share.png"> 
    </p>
   </div>
  </div>  
 </div>
-->
 </div>   
</div>

<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-12 no-padding-left-right article-title">
    {{list.title}}
 </div>  
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-12 no-padding-left-right article-title-sm">
    {{list.title}}
 </div>  
</div>
    
<div class="row visible-xs hidden-sm hidden-md padding-bottom-20px">
 <div class="col-xs-12 no-padding-left-right normal-text">
  <p data-ng-bind-html='list.lb_short_description' class="padding-top-10px" data-ng-if="!readMore"> 
      
  </p>
     
  <div data-ng-if="readMore">
   <p data-ng-bind-html='list.lb_long_description' class="padding-top-10px">
      
   </p>
  </div>

  <div data-ng-click='toggleReadMore()'>
   <a class="vivocarat-theme-colour bold-font">
       {{readMore?'read less':'read more'}}
   </a>
  </div>

<!--
  <p class="padding-top-10px">
   Tags-
   <a class="link padding-right-5px" data-ng-href="#i/search/{{list.tag1}}">
       {{list.tag1}}
   </a>
   <a class="link padding-right-5px" data-ng-href="#i/search/{{list.tag2}}">
       {{list.tag2}}
   </a>
   <a class="link padding-right-5px" data-ng-href="#i/search/{{list.tag3}}">
       {{list.tag3}}
   </a>
  </p>  
-->
 </div>  
</div>
    
<div class="row visible-sm visible-md hidden-xs padding-bottom-20px">
 <div class="col-sm-12 normal-text no-pad">
  <p data-ng-bind-html='list.lb_short_description' class="padding-top-10px" data-ng-if="!readMore"> 
      
  </p>
     
  <div data-ng-if="readMore">
   <p data-ng-bind-html='list.lb_long_description' class="padding-top-10px">
      
   </p>
  </div>

  <div data-ng-click='toggleReadMore()'>
   <a class="vivocarat-theme-colour bold-font">
       {{readMore?'read less':'read more'}}
   </a>
  </div>

<!--
  <p class="padding-top-10px">
   Tags-
   <a class="link" data-ng-href="#i/search/{{list.tag1}}">
       {{list.tag1}}
   </a>
   <a class="link" data-ng-href="#i/search/{{list.tag2}}">
       {{list.tag2}}
   </a>
   <a class="link" data-ng-href="#i/search/{{list.tag3}}">
       {{list.tag3}}
   </a>
  </p>  
-->
 </div>  
</div>
    
<div class="row">
 <div class="col-xs-12 no-pad">
  <img class="img-responsive width-100-percent" data-ng-src="images/lookbook/blogs/{{list.banner_img}}.jpg">  
 </div>   
</div>
    
    
<!--
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-12 text-center padding-top-20px padding-bottom-20px">
  <p>
    <a class="prev-next padding-right-10px" data-ng-href="#lookbookArticle/{{id-1}}">Previous</a>|&nbsp;
    <a class="padding-left-15px" data-ng-href="#lookbookArticle/{{id+1}}">Next</a>
  </p>
                  
 </div>  
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-xs-12 text-center padding-top-20px padding-bottom-20px">
  <p>
    <a class="prev-next padding-right-10px" data-ng-href="#lookbookArticle/{{id-1}}">Previous</a>|&nbsp;
    <a class="padding-left-15px" data-ng-href="#lookbookArticle/{{id+1}}">Next</a>
  </p>
                  
 </div>  
</div>
-->
</div>
    
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-7 vivocarat-heading">SIMILAR LOOKS</div>

 <div class="col-xs-5 categoryGrad">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-4 vivocarat-heading-sm">SIMILAR LOOKS</div>

 <div class="col-sm-8 categoryGrad-sm">

 </div>
</div>

    
   
<div class="row">
 <div class="col-xs-12">
  <div id="carousel-example" class="carousel slide box-outside-shadow" data-ride="carousel">
        <!-- Wrapper for slides -->
  <div class="carousel-inner">
      
  <div class="item active">
   <div class="row hidden-sm hidden-md visible-xs box-outside-shadow">
    <div class="col-xs-6 no-pad">
     <a data-ng-href="#p/{{slist[0].id}}">
                                    
      <div class="product_image">
       <img data-ng-src="images/products-v2/{{slist[0].VC_SKU}}-1.jpg" class="img-responsive"/>
      </div>
         
      <div class="row padding-bottom-30px padding-top-20px white-background">
       <div class="col-xs-12 no-pad text-center">
        <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[0])"> 
            Buy Now 
        </a>
       </div>
     </div>
                                    
    </a>
   </div>

   <div class="col-xs-6 no-pad">
    <a data-ng-href="#p/{{slist[1].id}}">
           
     <img data-ng-src="images/products-v2/{{slist[1].VC_SKU}}-1.jpg" class="img-responsive"/>
                                        
     <div class="row padding-bottom-30px padding-top-20px white-background">
      <div class="col-xs-12 no-pad text-center">
       <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[1])"> 
           Buy Now 
       </a>
      </div>
     </div>
                                   
    </a>
   </div>
  </div>
      
   <div class="row hidden-xs visible-sm visible-md box-outside-shadow">
    <div class="col-sm-6 no-pad">
     <a data-ng-href="#p/{{slist[0].id}}">
          
      <div class="product_image">
       <img data-ng-src="images/products-v2/{{slist[0].VC_SKU}}-1.jpg" class="carousel-img"/>
      </div>
         
      <div class="row padding-bottom-40px white-background">
       <div class="col-sm-12 text-center buy-pos-md">
        <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[0])"> 
            Buy Now 
        </a>
       </div>
      </div>
                                    
     </a>
    </div>
       
    <div class="col-xs-6 no-pad">
     <a href="#p/{{slist[1].id}}">
        
      <img data-ng-src="images/products-v2/{{slist[1].VC_SKU}}-1.jpg" class="carousel-img"/>
                                        
      <div class="row padding-bottom-40px white-background">
       <div class="col-sm-12 text-center buy-pos-md">
        <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[1])"> 
            Buy Now 
        </a>
       </div>
      </div>
                                    
    </a>
   </div>
  </div>
  </div>

  <div class="item">
   <div class="row hidden-sm hidden-md visible-xs box-outside-shadow">
    <div class="col-xs-6 no-pad">
     <a data-ng-href="#p/{{slist[2].id}}">
                                    
      <div class="product_image">
       <img data-ng-src="images/products-v2/{{slist[2].VC_SKU}}-1.jpg" class="img-responsive"/>
      </div>
         
      <div class="row padding-bottom-30px padding-top-20px white-background">
       <div class="col-xs-12 no-pad text-center">
        <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[2])"> 
            Buy Now 
        </a>
       </div>
     </div>
                                    
    </a>
   </div>

   <div class="col-xs-6 no-pad">
    <a data-ng-href="#p/{{slist[3].id}}">
           
     <img data-ng-src="images/products-v2/{{slist[3].VC_SKU}}-1.jpg" class="img-responsive"/>
                                        
     <div class="row padding-bottom-30px padding-top-20px white-background">
      <div class="col-xs-12 no-pad text-center">
       <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[3])"> 
           Buy Now 
       </a>
      </div>
     </div>
                                   
    </a>
   </div>
  </div>
      
   <div class="row hidden-xs visible-sm visible-md box-outside-shadow">
    <div class="col-sm-6 no-pad">
     <a data-ng-href="#p/{{slist[2].id}}">
          
      <div class="product_image">
       <img data-ng-src="images/products-v2/{{slist[2].VC_SKU}}-1.jpg" class="carousel-img"/>
      </div>
         
      <div class="row padding-bottom-40px white-background">
       <div class="col-sm-12 text-center buy-pos-md">
        <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[2])"> 
            Buy Now 
        </a>
       </div>
      </div>
                                    
     </a>
    </div>
       
    <div class="col-xs-6 no-pad">
     <a data-ng-href="#p/{{slist[3].id}}">
        
      <img data-ng-src="images/products-v2/{{slist[3].VC_SKU}}-1.jpg" class="carousel-img"/>
                                        
      <div class="row padding-bottom-40px white-background">
       <div class="col-sm-12 text-center buy-pos-md">
        <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[3])"> 
            Buy Now 
        </a>
       </div>
      </div>
                                    
    </a>
   </div>
  </div>
  </div>                  

  </div>

<!--
  <a class="left carousel-control visible-sm visible-md hidden-xs arrow-background" data-target="#carousel-example" role="button" data-slide="prev">
   <img src="images/mobile/home/icons/left arrow.png" class="carousel-scroller arrow-position-sm">
  </a>
                
  <a class="right carousel-control visible-sm visible-md hidden-xs arrow-background" data-target="#carousel-example" role="button" data-slide="next">
   <img src="images/mobile/home/icons/right arrow.png" class="carousel-scroller arrow-position-sm">
  </a>

  <a class="left carousel-control visible-xs hidden-md hidden-sm arrow-background" data-target="#carousel-example" role="button" data-slide="prev">
   <img class="arrow-position" src="images/mobile/home/icons/left arrow.png">
  </a>
                
  <a class="right carousel-control visible-xs hidden-md hidden-sm arrow-background" data-target="#carousel-example" role="button" data-slide="next">
   <img class="arrow-position" src="images/mobile/home/icons/right arrow.png">
  </a>
-->
      
  </div>  
 </div>
            
</div>
    
    
<!--
<div class="row visible-xs hidden-md hidden-sm">
 <div class="col-xs-12 text-center padding-top-30px padding-bottom-30px">
  <a class="btn browse-button" data-ng-href="#i/search/{{list.browse_link}}"> 
      Browse more styles 
  </a>  
 </div>   
</div>
    
<div class="row visible-sm visible-md  hidden-xs">
 <div class="col-sm-12 text-center padding-top-30px padding-bottom-30px">
  <a class="btn browse-button-sm" data-ng-href="#i/search/{{list.browse_link}}"> 
      Browse more styles 
  </a>  
 </div>   
</div>
-->
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-7 vivocarat-heading">RELATED STORIES</div>

 <div class="col-xs-5 categoryGrad">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-5 vivocarat-heading-sm">RELATED STORIES</div>

 <div class="col-sm-7 categoryGrad-sm">

 </div>
</div>    
    
 <div class="row visible-xs hidden-sm hidden-md padding-bottom-30px">
  <div class="col-xs-6 padding-right-8px">
      
   <div class="row box-outside-shadow">
     <div class="col-xs-12 white-background padding-5px">
      <a data-ng-href="#i/lookbookArticle/{{related[0].id}}">
       <p class="lookbook-title">
         {{related[0].title}}
       </p>  
     </div>
        
     <div class="row">
      <div class="col-xs-12 no-padding-left-right">
       <img data-ng-src="images/lookbook/blogs/{{related[0].banner_img}}.jpg">  
      </div>  
     </div>
        
     <div class="row white-background padding-5px">
      <div class="col-xs-7 category">
       {{related[0].category}}  
      </div>
         
      <div class="col-xs-5 created">
        {{related[0].created_at | dateToISO | date:'dd MMMM'}} 
      </div>
     </div>
     </a>
        
   </div>
      
  </div> 
     
  <div class="col-xs-6 padding-left-8px">
      
   <div class="row box-outside-shadow">
     <div class="col-xs-12 white-background padding-5px">
      <a data-ng-href="#i/lookbookArticle/{{related[1].id}}">
       <p class="lookbook-title">
         {{related[1].title}}
       </p>  
     </div>
        
     <div class="row">
      <div class="col-xs-12 no-padding-left-right">
       <img data-ng-src="images/lookbook/blogs/{{related[1].banner_img}}.jpg">  
      </div>  
     </div>
        
     <div class="row white-background padding-5px">
      <div class="col-xs-7 category">
       {{related[1].category}}  
      </div>
         
      <div class="col-xs-5 created">
        {{related[1].created_at | dateToISO | date:'dd MMMM'}} 
      </div>
     </div>
     </a>
        
   </div>
      
  </div> 
 </div>
    
 <div class="row visible-sm visible-md hidden-xs padding-bottom-30px">
  <div class="col-sm-6">
      
    <div class="row box-outside-shadow">
     <div class="col-sm-12 padding-5px white-background">
      <a data-ng-href="#i/lookbookArticle/{{related[0].id}}">
      <p class="lookbook-title-sm">
         {{related[0].title}}
      </p>  
     </div>
        
     <div class="row">
      <div class="col-sm-12 no-padding-left-right">
       <img data-ng-src="images/lookbook/blogs/{{related[0].banner_img}}.jpg">  
      </div>  
     </div>
        
     <div class="row white-background">
      <div class="col-sm-7 text-left no-padding-right category-sm">
       {{related[0].category}}  
      </div>
         
      <div class="col-sm-5 text-right no-padding-left category-sm">
        {{related[0].created_at | dateToISO | date:'dd MMMM'}} 
      </div>
     </div>
     </a>   
    </div>
      
  </div>
     
  <div class="col-sm-6">
      
    <div class="row box-outside-shadow">
     <div class="col-sm-12 padding-5px white-background">
      <a data-ng-href="#i/lookbookArticle/{{related[1].id}}">
      <p class="lookbook-title-sm">
         {{related[1].title}}
      </p>  
     </div>
        
     <div class="row">
      <div class="col-sm-12 no-padding-left-right">
       <img data-ng-src="images/lookbook/blogs/{{related[1].banner_img}}.jpg">  
      </div>  
     </div>
        
     <div class="row white-background">
      <div class="col-sm-7 text-left no-padding-right category-sm">
       {{related[1].category}}  
      </div>
         
      <div class="col-sm-5 text-right no-padding-left category-sm">
        {{related[1].created_at | dateToISO | date:'dd MMMM'}} 
      </div>
     </div>
     </a>   
    </div>
      
  </div>
 </div>
    

    
</div>
<vivo-footer></vivo-footer>