<vivo-header></vivo-header>
<style>
    .credfont {
        font-family: 'leela' !important;
        font-weight: 600;
        margin-bottom: 25px !important;
        font-size: 15px;
        color: #cccccc !important;
    }
    
    .credsfont {
        font-family: 'leela' !important;
        font-weight: 600;
        font-size: 15px;
        color: #e9e9e9 !important;
        margin-bottom: 25px !important;
    }
    
    .button-style {
        z-index: 0 !important;
        height: 45px;
        font-family: 'leela' !important;
        border-radius: 0px !important;
        padding-top: 15px;
        width: 50%;
        height: 45px;
        font-size: 15px;
        text-align: center !important;
    }
    
    .extra-margin {
        margin-bottom: 20px !important;
        font-family: 'leela';
        text-align: center;
    }
    
    .extra-margin-sm {
        margin-bottom: 40px !important;
        font-family: 'leela';
        text-align: center;
    }
    
    .borderfinish {
        border-radius: 0px !important;
        border-color: #eee;
        border: none !important;
    }
    
    input[type=text] {
        box-shadow: 0px 2px 0px #eee !important;
        transition: box-shadow 0.5s;
    }
    
    input[type=numeric] {
        outline: inherit;
        box-shadow: 0px 2px 0px #eee !important;
        transition: box-shadow 0.3s;
    }
    
    input[type=email] {
        outline: inherit;
        box-shadow: 0px 2px 0px #eee !important;
        transition: box-shadow 0.3s;
    }
    
    input[type=password] {
        outline: inherit;
        box-shadow: 0px 2px 0px #eee !important;
        transition: box-shadow 0.3s;
    }
</style>



<div class="row mob-top-pad">
    
<div class="row visible-xs hidden-sm hidden-md padding-top-20px">
 <div class="col-xs-8 product-from-same-jeweller-heading">
     VIVOCARAT PARTNER CONNECT
 </div>

 <div class="col-xs-4 categoryGrad">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs padding-top-25px">
 <div class="col-sm-8 vivocarat-heading-sm">VIVOCARAT PARTNER CONNECT</div>

 <div class="col-sm-4 categoryGrad-sm">

 </div>
</div>
    
<div class="container visible-xs hidden-sm hidden-md">
    
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="Name" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pname">
        </div>
    
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="Brand Name" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pbrand">
        </div>
    
        <div class="col-xs-12 no-pad extra-margin">
            <input type="email" placeholder="Email" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pemail">
        </div>
    
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="Phone" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pphone">
        </div>
    
        <div class="col-xs-12 no-pad extra-margin">
            <textarea data-ng-model="p.pmessage" placeholder="Any comments" rows="3" class="form-control ng-pristine ng-valid ng-touched" style="background-color: #eee;border-radius: 0px; width:100% !important;resize:none;"></textarea>
        </div>
    
        <div class="row">
            <div class="row text-center" style="padding: 0px">
                <a style="z-index: 0; width:180px;height:45px;font-family:'leela' !important;border-radius:0px;" data-ng-click="addPartner()" class="btn btn-vivo btn-lg" id="newPartner">Submit</a>
            </div>
        </div>
    
        <hr style="margin-bottom:10px;">
 </div>

        <div class="row visible-xs hidden-sm hidden-md padding-top-20px">
         <div class="col-xs-10 product-from-same-jeweller-heading">
                VIVOCARAT ADVANTAGE
         </div>

         <div class="col-xs-2 categoryGrad">

         </div>
        </div>

   <div class="container"> 
        <div class="row" style="margin-top:30px;">
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Dedicated-Brand-Store.jpg" class="img-responsive">
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:20px;">
                DEDICATED BRAND STORES
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:20px;">
                SELL ACROSS INDIA
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Sell-Across-India.jpg" class="img-responsive">
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Operational-Assistance.jpg" class="img-responsive">
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:20px;">
                OPERATIONAL ASSISTANCE
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:20px;">
                EXHAUSTIVE ANALYSIS
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Exhaustive-Analysis.jpg" class="img-responsive">
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Brand-Promotion.jpg" class="img-responsive">
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:20px;">
                BRAND PROMOTION
            </div>
            
        </div>
   </div>
    
</div>


<div class="container visible-md hidden-xs visible-sm">
 
    <div class="row mob-top-pad" style="margin-top:20px;">

        
        <div class="col-xs-12 no-pad extra-margin">
            <center>
                <input type="text" placeholder="Name" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pname" style="width:75%; border-bottom:1px solid #eee !important">
            </center>
        </div>
        
        <div class="col-xs-12 no-pad extra-margin">
            <center>
                <input type="email" placeholder="Email" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pemail" style="width:75%; border-bottom:1px solid #eee !important">
            </center>
        </div>
        
        <div class="col-xs-12 no-pad extra-margin">
            <center>
                <input type="text" placeholder="Phone" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="p.pphone" style="width:75%; border-bottom:1px solid #eee !important">
            </center>
        </div>
        
        <div class="col-xs-12 no-pad extra-margin">
            <center>
                <textarea data-ng-model="p.pmessage" placeholder="Any comments" rows="3" class="form-control ng-pristine ng-valid ng-touched" style="background-color: #eee;border-radius: 0px; width:75% !important;resize:none;"></textarea>
            </center>
        </div>
        
        <div class="row" style="margin-bottom:50px;">
            <div class="row text-center" style="padding: 0px">
                <a style="z-index: 0; width:50%;height:45px;font-family:'leela' !important;border-radius:0px;" data-ng-click="addPartner()" class="btn btn-vivo btn-lg">Submit</a>
            </div>
        </div>
        
        <hr style="margin-bottom:10px; width:50%">
        
        <div class="row visible-sm visible-md hidden-xs padding-top-25px">
         <div class="col-sm-8 vivocarat-heading-sm">VIVOCARAT ADVANTAGE</div>

         <div class="col-sm-4 categoryGrad-sm">

         </div>
        </div>
        
        <div class="row" style="margin-top:30px;">
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Dedicated-Brand-Store.jpg" class="img-responsive">
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:70px;">
                DEDICATED BRAND STORES
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:70px;">
                SELL ACROSS INDIA
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Sell-Across-India.jpg" class="img-responsive">
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Operational-Assistance.jpg" class="img-responsive">
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:70px;">
                OPERATIONAL ASSISTANCE
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:70px;">
                EXHAUSTIVE ANALYSIS
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Exhaustive-Analysis.jpg" class="img-responsive">
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-xs-3 no-pad extra-margin">
                <img src="images/mobile/partner/Brand-Promotion.jpg" class="img-responsive">
            </div>
            
            <div class="col-xs-1"></div>
            
            <div class="col-xs-8 no-pad extra-margin" style="color:#E62739 !important;font-size:16px;margin-top:70px;">
                BRAND PROMOTION
            </div>
            
        </div>
        
    </div>
</div>