<style>
    /*Table CSS*/
    
    .CSSTableGenerator {
        margin: 0px;
        padding: 0px;
        width: 100%;
        /*        border: 1px solid #fafafa;*/
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .CSSTableGenerator table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .CSSTableGenerator tr:last-child td:last-child {
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .CSSTableGenerator table tr:first-child td:first-child {
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .CSSTableGenerator table tr:first-child td:last-child {
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .CSSTableGenerator tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .CSSTableGenerator tr:hover td {}
    
    .CSSTableGenerator tr:nth-child(odd) {
        background-color: #fafafa;
    }
    
    .CSSTableGenerator tr:nth-child(even) {
        background-color: #ffffff;
    }
    
    .CSSTableGenerator td {
        vertical-align: middle;
        border: 1px solid #e3e3e3;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 3px;
        font-size: 11px;
        font-family: 'leela';
        font-weight: normal;
        color: #FFF5E9;
    }
    
    .CSSTableGenerator tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }
    
    .CSSTableGenerator tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CSSTableGenerator tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }
    
    .CSSTableGenerator tr:first-child td {
        background: -o-linear-gradient(bottom, #e62737 5%, #e62737 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e62737), color-stop(1, #e62737));
        background: -moz-linear-gradient( center top, #e62737 5%, #e62737 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e62737", endColorstr="#e62737");
        background: -o-linear-gradient(top, #e62737, e62737);
        background-color: #e62737;
        border: 0px solid #fafafa;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 16px;
        font-family: 'leela';
        font-weight: bold;
        color: #ffffff;
    }
    
    .CSSTableGenerator tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #e62737 5%, #e62737 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e62737), color-stop(1, #e62737));
        background: -moz-linear-gradient( center top, #e62737 5%, #e62737 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e62737", endColorstr="#e62737");
        background: -o-linear-gradient(top, #e62737, e62737);
        background-color: #e62737;
    }
    
    .CSSTableGenerator tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CSSTableGenerator tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }
    /*END of table CSS*/
</style>
<vivo-header></vivo-header>

<div class="container">

<div class="mob-top-pad visible-xs hidden-sm hidden-md">
    
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-6 vivocarat-heading no-padding-left">RING SIZER</div>

 <div class="col-xs-6 categoryGrad">

 </div>
</div>

    <div class="row">
        <div class="col-xs-12 normal-text">
            This method illustrates the steps which will be helpful in determining your ring size.
            <br/> Please make sure you compare your measurement with the chart below.
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-xs-12">
            <img src="images/ringguide/step1.png" class="img-responsive">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_1.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-xs-12">
            <img src="images/ringguide/step2.png" class="img-responsive">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_2.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-xs-12">
            <img src="images/ringguide/step3.png" class="img-responsive">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_3.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-xs-12">
            <img src="images/ringguide/step4.png" class="img-responsive">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_4.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 chart-description">
            Check your measurement with the chart below to determine your ring size.
        </div>
    </div>

    <div class="row CSSTableGenerator text-center no-pad" style="padding-right:0px;padding-left:0px;margin-bottom:30px;margin-top: 25px;">
        <div class="col-xs-12 text-center" style="padding-right: 25px;padding-left: 25px;">
            <table>
                <tr class="no-pad">
                    <td style="color: #FFF5E9 !important;font-size:13px">
                        Ring Size (Indian)
                    </td>
                    <td colspan="2" style="color: #FFF5E9 !important;font-size:13px">
                        Circumference
                    </td>

                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>

                    </td>
                    <td style="font-weight:bold;font-size:13px">
                        Inches
                    </td>
                    <td style="font-weight:bold;font-size:13px">
                        MM
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        1
                    </td>
                    <td>
                        1.61
                    </td>
                    <td>
                        40.8
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        2
                    </td>
                    <td>
                        1.66
                    </td>
                    <td>
                        42.1
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        3
                    </td>
                    <td>
                        1.69
                    </td>
                    <td>
                        43
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        4
                    </td>
                    <td>
                        1.73
                    </td>
                    <td>
                        44
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        5
                    </td>
                    <td>
                        1.77
                    </td>
                    <td>
                        44.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        6
                    </td>
                    <td>
                        1.81
                    </td>
                    <td>
                        45.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        7
                    </td>
                    <td>
                        1.86
                    </td>
                    <td>
                        47.1
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        8
                    </td>
                    <td>
                        1.89
                    </td>
                    <td>
                        48.1
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        9
                    </td>
                    <td>
                        1.93
                    </td>
                    <td>
                        49
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        10
                    </td>
                    <td>
                        1.97
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        11
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        50.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        12
                    </td>
                    <td>
                        2.04
                    </td>
                    <td>
                        51.8
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        13
                    </td>
                    <td>
                        2.08
                    </td>
                    <td>
                        52.8
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        14
                    </td>
                    <td>
                        2.13
                    </td>
                    <td>
                        54
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        15
                    </td>
                    <td>
                        2.16
                    </td>
                    <td>
                        55
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        16
                    </td>
                    <td>
                        2.2
                    </td>
                    <td>
                        55.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        17
                    </td>
                    <td>
                        2.24
                    </td>
                    <td>
                        56.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        18
                    </td>
                    <td>
                        2.28
                    </td>
                    <td>
                        57.8
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        19
                    </td>
                    <td>
                        2.33
                    </td>
                    <td>
                        59.1
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        20
                    </td>
                    <td>
                        2.36
                    </td>
                    <td>
                        60
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        21
                    </td>
                    <td>
                        2.4
                    </td>
                    <td>
                        60.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        22
                    </td>
                    <td>
                        2.44
                    </td>
                    <td>
                        61.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        23
                    </td>
                    <td>
                        2.47
                    </td>
                    <td>
                        62.8
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        24
                    </td>
                    <td>
                        2.51
                    </td>
                    <td>
                        63.8
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        25
                    </td>
                    <td>
                        2.55
                    </td>
                    <td>
                        64.7
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        26
                    </td>
                    <td>
                        2.6
                    </td>
                    <td>
                        66
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        27
                    </td>
                    <td>
                        2.63
                    </td>
                    <td>
                        66.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        28
                    </td>
                    <td>
                        2.67
                    </td>
                    <td>
                        67.9
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        29
                    </td>
                    <td>
                        2.72
                    </td>
                    <td>
                        69.1
                    </td>
                </tr>
                <tr style="padding:0px;border: 1px solid #E3E3E3">
                    <td>
                        30
                    </td>
                    <td>
                        2.76
                    </td>
                    <td>
                        70.1
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="mob-top-pad visible-md hidden-xs visible-sm">

<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-3 vivocarat-heading-sm no-padding-left">RING SIZER</div>

 <div class="col-sm-9 categoryGrad-sm">

 </div>
</div>

    <div class="row">
        <div class="col-xs-12 normal-text">
            This method illustrates the steps which will be helpful in determining your ring size.
            <br/> Please make sure you compare your measurement with the chart below.
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-xs-6">
            <img src="images/ringguide/step1.png" class="img-responsive">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_1.jpg">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <img src="images/ringguide/step2.png" class="img-responsive">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_2.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-60px">
        <div class="col-xs-6">
            <img src="images/ringguide/step3.png" class="img-responsive">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_3.jpg">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <img src="images/ringguide/step4.png" class="img-responsive">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="images/ringguide/ring_sizer_4.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 chart-description">
            Check your measurement with the chart below to determine your ring size.
        </div>
    </div>

    <div class="row CSSTableGenerator text-center" style="padding-right:15px;padding-left:15px;">
        <div class="col-xs-6 text-center">
            <table style="border: 1px solid #E3E3E3; margin-bottom:30px;margin-right:10px !important;">
                <tr>
                    <td style="color: #FFF5E9 !important;font-size:13px">
                        Ring Size (Indian)
                    </td>
                    <td colspan="2" style="color: #FFF5E9 !important;font-size:13px">
                        Circumference
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td style="font-weight:bold;font-size:16px">
                        Inches
                    </td>
                    <td style="font-weight:bold;font-size:16px">
                        MM
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        1.61
                    </td>
                    <td>
                        40.8
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        1.66
                    </td>
                    <td>
                        42.1
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        1.69
                    </td>
                    <td>
                        43
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        1.73
                    </td>
                    <td>
                        44
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        1.77
                    </td>
                    <td>
                        44.9
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        1.81
                    </td>
                    <td>
                        45.9
                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        1.86
                    </td>
                    <td>
                        47.1
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        1.89
                    </td>
                    <td>
                        48.1
                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        1.93
                    </td>
                    <td>
                        49
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        1.97
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        50.9
                    </td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        2.04
                    </td>
                    <td>
                        51.8
                    </td>
                </tr>
                <tr>
                    <td>
                        13
                    </td>
                    <td>
                        2.08
                    </td>
                    <td>
                        52.8
                    </td>
                </tr>
                <tr>
                    <td>
                        14
                    </td>
                    <td>
                        2.13
                    </td>
                    <td>
                        54
                    </td>
                </tr>
                <tr>
                    <td>
                        15
                    </td>
                    <td>
                        2.16
                    </td>
                    <td>
                        55
                    </td>
                </tr>
            </table>
        </div>
        <!--2nd table-->
        <div class="col-xs-6 text-center">
            <table style="border: 1px solid #E3E3E3;">
                <tr>
                    <td style="color: #FFF5E9 !important;font-size:16px">
                        Ring Size (Indian)
                    </td>
                    <td colspan="2" style="color: #FFF5E9 !important;font-size:16px">
                        Circumference
                    </td>

                </tr>
                <tr>
                    <td>

                    </td>
                    <td style="font-weight:bold;font-size:16px;">
                        Inches
                    </td>
                    <td style="font-weight:bold;font-size:16px;">
                        MM
                    </td>
                </tr>
                <tr>
                    <td>
                        16
                    </td>
                    <td>
                        2.2
                    </td>
                    <td>
                        55.9
                    </td>
                </tr>
                <tr>
                    <td>
                        17
                    </td>
                    <td>
                        2.24
                    </td>
                    <td>
                        56.9
                    </td>
                </tr>
                <tr>
                    <td>
                        18
                    </td>
                    <td>
                        2.28
                    </td>
                    <td>
                        57.8
                    </td>
                </tr>
                <tr>
                    <td>
                        19
                    </td>
                    <td>
                        2.33
                    </td>
                    <td>
                        59.1
                    </td>
                </tr>
                <tr>
                    <td>
                        20
                    </td>
                    <td>
                        2.36
                    </td>
                    <td>
                        60
                    </td>
                </tr>
                <tr>
                    <td>
                        21
                    </td>
                    <td>
                        2.4
                    </td>
                    <td>
                        60.9
                    </td>
                </tr>
                <tr>
                    <td>
                        22
                    </td>
                    <td>
                        2.44
                    </td>
                    <td>
                        61.9
                    </td>
                </tr>
                <tr>
                    <td>
                        23
                    </td>
                    <td>
                        2.47
                    </td>
                    <td>
                        62.8
                    </td>
                </tr>
                <tr>
                    <td>
                        24
                    </td>
                    <td>
                        2.51
                    </td>
                    <td>
                        63.8
                    </td>
                </tr>
                <tr>
                    <td>
                        25
                    </td>
                    <td>
                        2.55
                    </td>
                    <td>
                        64.7
                    </td>
                </tr>
                <tr>
                    <td>
                        26
                    </td>
                    <td>
                        2.6
                    </td>
                    <td>
                        66
                    </td>
                </tr>
                <tr>
                    <td>
                        27
                    </td>
                    <td>
                        2.63
                    </td>
                    <td>
                        66.9
                    </td>
                </tr>
                <tr>
                    <td>
                        28
                    </td>
                    <td>
                        2.67
                    </td>
                    <td>
                        67.9
                    </td>
                </tr>
                <tr>
                    <td>
                        29
                    </td>
                    <td>
                        2.72
                    </td>
                    <td>
                        69.1
                    </td>
                </tr>
                <tr>
                    <td>
                        30
                    </td>
                    <td>
                        2.76
                    </td>
                    <td>
                        70.1
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
    
</div>
<!--End of container-->
<vivo-footer></vivo-footer>