<vivo-header></vivo-header>

<div class="row">
 <div class="col-xs-12 mob-top-pad no-padding-left-right">
  <img data-ng-src="images/mobile/store/banners/{{store}}.jpg" class="img-responsive width-100-percent">
 </div>
</div>

<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-6 vivocarat-heading">CATEGORIES</div>

 <div class="col-xs-6 categoryGrad">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-3 vivocarat-heading-sm">CATEGORIES</div>

 <div class="col-sm-9 categoryGrad-sm">

 </div>
</div>

<div class="padding-bottom-60px">
    
<div class="row">
        
 <div class="row well margin-top-50px" data-ng-show="categoriesList==null || categoriesList=='' || categoriesList.length<1">
         No Such store found
 </div>
        
 <div data-ng-hide="categoriesList==null || categoriesList=='' || categoriesList.length<1" class="row">

  <div data-ng-repeat="c in categoriesList" class="col-xs-6 padding-top-30px">
   <a data-ng-href="#c/store/{{store}}/{{c.category}}">

    <img class="img-responsive" data-ng-src="images/store/store_category/{{store}}/{{c.category}}.jpg">

   </a>
  </div>

 </div>
   
</div>
 
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-5 vivocarat-heading">ABOUT US</div>

 <div class="col-xs-7 categoryGrad">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-2 vivocarat-heading-sm">ABOUT US</div>

 <div class="col-sm-10 categoryGrad-sm">

 </div>
</div>
    
<div class="row">
 <div data-ng-bind-html='jeweller.description' class="col-xs-12 normal-text" style="font-size:15px">
        
 </div>
</div>   


</div>



<vivo-footer></vivo-footer>