<!--Mobile screen-->
<div class="fixed visible-xs hidden-sm hidden-md" id="topbar">

<div class="row">
    
 <div id="dl-menu" class="dl-menuwrapper" style="margin-top: 23px;">
 
  <a class="dl-trigger">
   <div class="hamburger-icon"></div>
  </a>
				
  <ul class="dl-menu" id="mobmenu">
                
   <li>
    <img class="img-back-for-home" src="images/mobile/header/icons/hamburger/back.png" style="width:7%;margin-right: 30px;">
    <a href="#i/home" class="home-text">
     Home
    </a>
   </li>
                    
   <li class="category-menu-li">
    <a href="#" class="left-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow" src="images/mobile/header/categories/rings.png">
    </a>
       
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Rings" class="submenu-text">All Ring Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Rings" class="submenu-text">Diamond Rings</a>
     </li>

	   <li>
      <a href="#c/Gold/Rings" class="submenu-text">Gold Rings</a>
     </li>

     <li>
      <a href="#/c/1/Rings" class="submenu-text">Gemstone Rings</a>
     </li>

     <li>
      <a href="#/c/Silver/Rings" class="submenu-text">Silver Rings</a>
     </li>

     <li>
      <a href="#/i/search/engagement,rings" class="submenu-text">Engagement Rings</a>
     </li>

     <li>
      <a href="#/i/search/workwear,rings" class="submenu-text">Office Wear</a>
     </li>

     <li>
      <a href="#i/search/bridal-rings" class="submenu-text">Bridal Rings</a>
     </li>

     <li>
      <a href="#i/search/cocktail-rings" class="submenu-text">Cocktail Rings</a>
     </li>

     <li>
      <a href="#/c/less_15000/rings" class="submenu-text"><b>Less than Rs.15,000</b></a>
     </li>
	  </ul>
   </li>  
      
   <li class="category-menu-li">
    <a href="#" class="category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/earrings.png">
    </a> 
       
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Earrings" class="submenu-text">All Earring Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Earrings" class="submenu-text">Diamond Earrings</a>
     </li>

	   <li>
      <a href="#c/Gold/Earrings" class="submenu-text">Gold Earrings</a>
     </li>

     <li>
      <a href="#/c/1/Earrings" class="submenu-text">Gemstone Earrings</a>
     </li>

     <li>
      <a href="#/c/Silver/Earrings" class="submenu-text">Silver Earrings</a>
     </li>

	   <li>
      <a href="#/i/search/studs-earrings" class="submenu-text">Studs</a>
     </li>

     <li>
      <a href="#/i/search/drops-earrings" class="submenu-text">Drops</a>
     </li>

     <li>
      <a href="#/i/search/jhumkas-earrings" class="submenu-text">Jhumkas</a>
     </li>

     <li>
      <a href="#/i/search/hoops&huggies-earrings" class="submenu-text">Hoops</a>
     </li>

     <li>
      <a href="#/i/search/workwear,earrings" class="submenu-text">OfficeWear Earrings</a>
     </li>

     <li>
      <a href="#/c/less_10000/earrings" class="submenu-text"><b>Less than Rs.10,000</b></a>
     </li>
	  </ul>
   </li>
                
   <li class="category-menu-li">
    <a href="#" class="right-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/pendants.png">
    </a>  
                    
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Pendants" class="submenu-text">All Pendant Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Pendants" class="submenu-text">Diamond Pendants</a>
     </li>

	   <li>
      <a href="#c/Gold/Pendants" class="submenu-text">Gold Pendants</a>
     </li>

     <li>
      <a href="#/c/1/Pendants" class="submenu-text">Gemstone Pendants</a>
     </li>

	   <li>
     <li>
      <a href="#/c/Silver/Pendants" class="submenu-text">Silver Pendants</a>
     </li>

	   <li>
      <a href="#/i/search/alphabet,pendants" class="submenu-text">Initials</a>
     </li>

     <li>
      <a href="#/i/search/religious-pendants" class="submenu-text">Religious</a>
     </li>

     <li>
      <a href="#/c/less_10000/pendants" class="submenu-text"><b>Less than Rs.10,000</b></a>
     </li>

     <li>
      <a href="#/i/search/casual-pendants" class="submenu-text">CasualWear Pendants</a>
     </li>
	  </ul>
   </li>
                    
   <li class="category-menu-li">
    <a href="#" class="left-category-space category-top-bottom-gap" style="padding-left: 16px;">
     <img class="img-responsive image-scale box-outside-shadow" src="images/mobile/header/categories/nosepins.png">
    </a>  
                    
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Nosepins" class="submenu-text">All Nosepins Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Nosepins" class="submenu-text">Diamond Nosepins</a>
     </li>

	   <li>
      <a href="#c/Gold/Nosepins" class="submenu-text">Gold Nosepins</a>
     </li>

     <li>
      <a href="#/c/1/NosePins" class="submenu-text">Gemstone Nosepins</a>
     </li>

	   <li>
      <a href="#/i/search/studs-nosepins" class="submenu-text">Studs</a>
     </li>

     <li>
      <a href="#/c/less_5000/nosepins" class="submenu-text"><b>Less than Rs.5,000</b></a>
     </li>

     <li>
      <a href="#/c/less_10000/nosepins" class="submenu-text"><b>Less than Rs.10,000</b></a>
     </li>
	  </ul>
   </li>                    
                
   <li class="category-menu-li">
    <a href="#c/All/Accessories" class="category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/accessories.png">
    </a>
   </li>
                    
   <li class="category-menu-li">
    <a href="#" class="right-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/goldcoins.png">
    </a> 
       
    <ul class="dl-submenu">
      <li>
       <a class="submenu-text"><b>-BY WEIGHT</b></a>
      </li>

      <li>
       <a href="#/c/weight_lt_1/goldcoins" class="submenu-text">Less than 1 gram {for gifting}</a>
      </li>

      <li>
       <a href="#/c/wt_1/goldcoins" class="submenu-text">1 gram</a>
      </li>

      <li>
       <a href="#/c/wt_2/goldcoins" class="submenu-text">2 grams</a>
      </li>

      <li>
       <a href="#/c/wt_5/goldcoins" class="submenu-text">5 grams</a>
      </li>

      <li>
       <a href="#/c/wt_10/goldcoins" class="submenu-text">10 grams</a>
      </li>

      <li>
       <a href="#/c/weight_gt_10/goldcoins" class="submenu-text">More than 10 grams</a>
      </li>

      <li>
       <a class="submenu-text"><b>-BY PURITY</b></a>
      </li>

      <li>
       <a href="#/c/purity_24_999/goldcoins" class="submenu-text">24Kt(999) Purity</a>
      </li>

      <li>
       <a href="#/c/purity_24_995/goldcoins" class="submenu-text">24Kt(995) Purity</a>
      </li>

      <li>
       <a href="#/c/purity_22_925/goldcoins" class="submenu-text">22Kt(925) Purity</a>
      </li>
	   </ul>
    </li>
                    
                
   <li class="category-menu-li">
    <a href="#" class="left-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow" src="images/mobile/header/categories/bangles bracelets.png">
    </a>  
       
    <ul class="dl-submenu">
	   <li>
      <a href="#/c/All/bangles,bracelets" class="submenu-text">All</a>
     </li>

	   <li>
      <a href="#/c/diamond/bangles,bracelets" class="submenu-text">Diamond</a>
     </li>

     <li>
      <a href="#/c/gold/bangles,bracelets" class="submenu-text">Gold</a>
     </li>
     
     <li>
      <a href="#/c/silver/bangles,bracelets" class="submenu-text">Silver</a>
     </li>
	  </ul>
   </li>                    
                
   <li class="category-menu-li">
    <a href="#" class="category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/tanmaniya mangalsutra.png">
    </a>  
       
    <ul class="dl-submenu">
	   <li>
      <a href="#/c/All/tanmaniya,mangalsutra" class="submenu-text">All</a>
     </li>

	   <li>
      <a href="#/c/All/tanmaniya" class="submenu-text">Tanmaniya</a>
     </li>

	   <li>
      <a href="#/c/All/mangalsutra" class="submenu-text">Mangalsutras</a>
     </li>
	  </ul>
   </li>
                
   <li class="category-menu-li margin-bottom-10px">
    <a href="#c/All/Necklaces" class="right-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/chains necklace.png">
    </a>
   </li>
                
   <li class="dropdown1">
    <a href="#" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="men-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         For Men
        <img src="images/mobile/header/icons/hamburger/menu dropdown.png" class="men-dropdown-icon">
       </div>
      </div>
     </div>
     
    </a>

    <ul>
	   <li>
      <a href="#/c/gender_male/Pendants" class="submenu-text">Pendants</a>
     </li>

	   <li>
      <a href="#/c/gender_male/Necklaces" class="submenu-text">Chains</a>
     </li>

	   <li>
      <a href="#/c/gender_male/accessories" class="submenu-text">Accessories</a>
     </li>
	  </ul>   
   </li>
      
   <li class="dropdown1">
    <a href="#" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="collection-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right hamburger-menu-text">
        Collections
        <img src="images/mobile/header/icons/hamburger/menu dropdown.png" class="collections-dropdown-icon">
      </div>
     </div>
    </a>
       
    <ul>
	   <li>
      <a href="#i/search/officewear" class="submenu-text">Office Wear Collection</a>
     </li>

	   <li>
      <a href="#i/search/engagement" class="submenu-text">Proposal Collection</a>
     </li>

	   <li>
      <a href="#i/search/alphabet" class="submenu-text">Alphabet Collection</a>
     </li>
	  </ul>
   </li>
      
   <li>
    <a href="#i/search/alphabet" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="gift-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Gifting
       </div>
      </div>
     </div>
    </a>   
   </li>
      
   <li>
    <a href="#i/brands" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="shop-by-brands-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Shop by brands
       </div>
      </div>
     </div>
    </a>   
   </li>
                    
   <li>
    <a href="#i/lookbook" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="lookbook-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Lookbook
       </div>
      </div>
     </div>
    </a>   
   </li>

   <li class="dropdown1">
    <a href="#" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="about-vivocarat-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right hamburger-menu-text">
        About VivoCarat
        <img src="images/mobile/header/icons/hamburger/menu dropdown.png" class="about-vivocarat-dropdown-icon">
      </div>
     </div>
    </a>
       
    <ul>
	   <li>
      <a href="#i/about" class="submenu-text">VivoCarat Advantage</a>
     </li>

	   <li>
      <a href="#i/faq" class="submenu-text">FAQ's</a>
     </li>

	   <li>
      <a href="#i/faq/Lifetime" class="submenu-text">Lifetime Return Policy</a>
     </li>

     <li>
      <a href="#i/faq/Shipping" class="submenu-text">Shipping Policy</a>
     </li>

     <li>
      <a href="#i/faq/Payment" class="submenu-text">Payment Options</a>
     </li>

     <li>
      <a href="#i/faq/Return" class="submenu-text">Return Policy</a>
     </li>

     <li>
      <a href="#i/partner" class="submenu-text">Seller Connect</a>
     </li>

     <li>
      <a href="#i/privacypolicy" class="submenu-text">Privacy Policy</a>
     </li>

     <li>
      <a href="#i/terms" class="submenu-text">Terms Of Use</a>
     </li>
	  </ul>
   </li>
      
   <li>
    <a href="#i/account" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="account-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Account
       </div>
      </div>
     </div>
    </a>   
   </li>

   <li>
    <a href="#i/contact" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-xs-3 no-padding-left-right">
       <div class="contact-icon"></div>
      </div>

      <div class="col-xs-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Contact us
       </div>
      </div>
     </div>
    </a>   
   </li>   
  </ul>
 </div>

 <div class="col-xs-6">
  <a href='#i/home'>
   <div class="vivocarat-logo"></div>
  </a>
 </div>

 <div class="col-xs-1 no-padding-right padding-left-10px">
  <a href="tel:+91-916-764-5314">
   <div class="call-icon"></div>
  </a>
 </div>

 <div class="col-xs-2 no-pad text-center margin-left-10px">
  <a href="#i/checkout">

   <img data-ng-src="{{cartIcon}}" style="width: 35%;vertical-align: middle;">

   <span data-ng-if="cart.length>0" class="checkout-number">
   <span data-ng-if="cart.length>0" class="white-colour">
         {{cart.length}}
   </span>
   <span data-ng-if="cart.length<1" class="white-colour">
         0
   </span>
  </span>
  </a>
 </div>

 <div class="col-xs-1 no-pad">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

   <div class="account-menu-icon"></div>

  </a>

  <ul class="dropdown-menu text-left nav" aria-labelledby="dropdownMenu1">
   <li>
    <a class="menu-text" href="#i/account">
     <div class="row">
      <div class="col-xs-3 no-pad">
       <div class="user-account-icon"></div>
      </div>

      <div class="col-xs-9 no-pad">
       <span>My Account</span>
      </div>
     </div>
     
    </a>
   </li>

   <li>
    <a class="menu-text" href="#i/orders">
     <div class="row">
      <div class="col-xs-3 no-pad">
       <div class="user-orders-icon"></div>
      </div>

      <div class="col-xs-9 no-pad">
       <span>My Orders</span>
      </div>
     </div>
    </a>
   </li>

   <li role="separator" class="divider"></li>

   <li>
    <a data-ng-if="authenticated" class="menu-text" data-ng-click="logout()">
       Log Out
    </a>
    <a data-ng-if="!authenticated" class="menu-text" href="#login/0">
       Sign In
    </a>
   </li>
  </ul>
 </div>	
			
</div>

</div>

<!--Tablet Screen-->
<div class="fixed visible-sm visible-md hidden-xs header-height-sm" id="topbar">

<div class="row">
    
 <div id="dl-menu-sm" class="dl-menuwrapper">
 
  <a class="dl-trigger">
   <div class="hamburger-icon-sm"></div>
  </a>
				
  <ul class="dl-menu" id="mobmenu" style="margin-top: 19px;">
                
   <li>
    <img class="img-back-for-home" src="images/mobile/header/icons/hamburger/back.png" style="width:7%;margin-right: 30px;">
    <a href="#i/home" class="home-text">
     Home
    </a>
   </li>
                    
   <li class="category-menu-li">
    <a href="#" class="left-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow" src="images/mobile/header/categories/rings.png">
    </a>
       
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Rings" class="submenu-text">All Ring Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Rings" class="submenu-text">Diamond Rings</a>
     </li>

	   <li>
      <a href="#c/Gold/Rings" class="submenu-text">Gold Rings</a>
     </li>

     <li>
      <a href="#/c/1/Rings" class="submenu-text">Gemstone Rings</a>
     </li>

     <li>
      <a href="#/c/Silver/Rings" class="submenu-text">Silver Rings</a>
     </li>

     <li>
      <a href="#/i/search/engagement,rings" class="submenu-text">Engagement Rings</a>
     </li>

     <li>
      <a href="#/i/search/workwear,rings" class="submenu-text">Office Wear</a>
     </li>

     <li>
      <a href="#i/search/bridal-rings" class="submenu-text">Bridal Rings</a>
     </li>

     <li>
      <a href="#i/search/cocktail-rings" class="submenu-text">Cocktail Rings</a>
     </li>

     <li>
      <a href="#/c/less_15000/rings" class="submenu-text"><b>Less than Rs.15,000</b></a>
     </li>
	  </ul>
   </li>  
      
   <li class="category-menu-li">
    <a href="#" class="category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/earrings.png">
    </a> 
       
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Earrings" class="submenu-text">All Earring Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Earrings" class="submenu-text">Diamond Earrings</a>
     </li>

	   <li>
      <a href="#c/Gold/Earrings" class="submenu-text">Gold Earrings</a>
     </li>

     <li>
      <a href="#/c/1/Earrings" class="submenu-text">Gemstone Earrings</a>
     </li>

     <li>
      <a href="#/c/Silver/Earrings" class="submenu-text">Silver Earrings</a>
     </li>

	   <li>
      <a href="#/i/search/studs-earrings" class="submenu-text">Studs</a>
     </li>

     <li>
      <a href="#/i/search/drops-earrings" class="submenu-text">Drops</a>
     </li>

     <li>
      <a href="#/i/search/jhumkas-earrings" class="submenu-text">Jhumkas</a>
     </li>

     <li>
      <a href="#/i/search/hoops&huggies-earrings" class="submenu-text">Hoops</a>
     </li>

     <li>
      <a href="#/i/search/workwear,earrings" class="submenu-text">OfficeWear Earrings</a>
     </li>

     <li>
      <a href="#/c/less_10000/earrings" class="submenu-text"><b>Less than Rs.10,000</b></a>
     </li>
	  </ul>
   </li>
                
   <li class="category-menu-li">
    <a href="#" class="right-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/pendants.png">
    </a>  
                    
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Pendants" class="submenu-text">All Pendant Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Pendants" class="submenu-text">Diamond Pendants</a>
     </li>

	   <li>
      <a href="#c/Gold/Pendants" class="submenu-text">Gold Pendants</a>
     </li>

     <li>
      <a href="#/c/1/Pendants" class="submenu-text">Gemstone Pendants</a>
     </li>

	   <li>
     <li>
      <a href="#/c/Silver/Pendants" class="submenu-text">Silver Pendants</a>
     </li>

	   <li>
      <a href="#/i/search/alphabet,pendants" class="submenu-text">Initials</a>
     </li>

     <li>
      <a href="#/i/search/religious-pendants" class="submenu-text">Religious</a>
     </li>

     <li>
      <a href="#/c/less_10000/pendants" class="submenu-text"><b>Less than Rs.10,000</b></a>
     </li>

     <li>
      <a href="#/i/search/casual-pendants" class="submenu-text">CasualWear Pendants</a>
     </li>
	  </ul>
   </li>
                    
   <li class="category-menu-li">
    <a href="#" class="left-category-space category-top-bottom-gap" style="padding-left: 16px;">
     <img class="img-responsive image-scale box-outside-shadow" src="images/mobile/header/categories/nosepins.png">
    </a>  
                    
    <ul class="dl-submenu">
	   <li>
      <a href="#c/All/Nosepins" class="submenu-text">All Nosepins Types</a>
     </li>

	   <li>
      <a href="#c/Diamond/Nosepins" class="submenu-text">Diamond Nosepins</a>
     </li>

	   <li>
      <a href="#c/Gold/Nosepins" class="submenu-text">Gold Nosepins</a>
     </li>

     <li>
      <a href="#/c/1/NosePins" class="submenu-text">Gemstone Nosepins</a>
     </li>

	   <li>
      <a href="#/i/search/studs-nosepins" class="submenu-text">Studs</a>
     </li>

     <li>
      <a href="#/c/less_5000/nosepins" class="submenu-text"><b>Less than Rs.5,000</b></a>
     </li>

     <li>
      <a href="#/c/less_10000/nosepins" class="submenu-text"><b>Less than Rs.10,000</b></a>
     </li>
	  </ul>
   </li>                    
                
   <li class="category-menu-li">
    <a href="#c/All/Accessories" class="category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/accessories.png">
    </a>
   </li>
                    
   <li class="category-menu-li">
    <a href="#" class="right-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/goldcoins.png">
    </a> 
       
    <ul class="dl-submenu">
      <li>
       <a class="submenu-text"><b>-BY WEIGHT</b></a>
      </li>

      <li>
       <a href="#/c/weight_lt_1/goldcoins" class="submenu-text">Less than 1 gram {for gifting}</a>
      </li>

      <li>
       <a href="#/c/wt_1/goldcoins" class="submenu-text">1 gram</a>
      </li>

      <li>
       <a href="#/c/wt_2/goldcoins" class="submenu-text">2 grams</a>
      </li>

      <li>
       <a href="#/c/wt_5/goldcoins" class="submenu-text">5 grams</a>
      </li>

      <li>
       <a href="#/c/wt_10/goldcoins" class="submenu-text">10 grams</a>
      </li>

      <li>
       <a href="#/c/weight_gt_10/goldcoins" class="submenu-text">More than 10 grams</a>
      </li>

      <li>
       <a class="submenu-text"><b>-BY PURITY</b></a>
      </li>

      <li>
       <a href="#/c/purity_24_999/goldcoins" class="submenu-text">24Kt(999) Purity</a>
      </li>

      <li>
       <a href="#/c/purity_24_995/goldcoins" class="submenu-text">24Kt(995) Purity</a>
      </li>

      <li>
       <a href="#/c/purity_22_925/goldcoins" class="submenu-text">22Kt(925) Purity</a>
      </li>
	   </ul>
    </li>
                    
                
   <li class="category-menu-li">
    <a href="#" class="left-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow" src="images/mobile/header/categories/bangles bracelets.png">
    </a>  
       
    <ul class="dl-submenu">
	   <li>
      <a href="#/c/All/bangles,bracelets" class="submenu-text">All</a>
     </li>

	   <li>
      <a href="#/c/diamond/bangles,bracelets" class="submenu-text">Diamond</a>
     </li>

     <li>
      <a href="#/c/gold/bangles,bracelets" class="submenu-text">Gold</a>
     </li>
     
     <li>
      <a href="#/c/silver/bangles,bracelets" class="submenu-text">Silver</a>
     </li>
	  </ul>
   </li>                    
                
   <li class="category-menu-li">
    <a href="#" class="category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/tanmaniya mangalsutra.png">
    </a>  
       
    <ul class="dl-submenu">
	   <li>
      <a href="#/c/All/tanmaniya,mangalsutra" class="submenu-text">All</a>
     </li>

	   <li>
      <a href="#/c/All/tanmaniya" class="submenu-text">Tanmaniya</a>
     </li>

	   <li>
      <a href="#/c/All/mangalsutra" class="submenu-text">Mangalsutras</a>
     </li>
	  </ul>
   </li>
                
   <li class="category-menu-li margin-bottom-10px">
    <a href="#c/All/Necklaces" class="right-category-space category-top-bottom-gap">
     <img class="img-responsive image-scale box-outside-shadow"  src="images/mobile/header/categories/chains necklace.png">
    </a>
   </li>
                
   <li class="dropdown1">
    <a href="#" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="men-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right hamburger-menu-text">
       For Men
       <img src="images/mobile/header/icons/hamburger/menu dropdown.png" class="men-dropdown-icon">
      </div>
     </div>
    </a>

    <ul>
	   <li>
      <a href="#/c/gender_male/Pendants" class="submenu-text">Pendants</a>
     </li>

	   <li>
      <a href="#/c/gender_male/Necklaces" class="submenu-text">Chains</a>
     </li>

	   <li>
      <a href="#/c/gender_male/accessories" class="submenu-text">Accessories</a>
     </li>
	  </ul>   
   </li>
      
   <li class="dropdown1">
    <a href="#" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="collection-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right hamburger-menu-text">
       Collections
       <img src="images/mobile/header/icons/hamburger/menu dropdown.png" class="collections-dropdown-icon">
      </div>
     </div>
    </a>
       
    <ul>
	   <li>
      <a href="#i/search/officewear" class="submenu-text">Office Wear Collection</a>
     </li>

	   <li>
      <a href="#i/search/engagement" class="submenu-text">Proposal Collection</a>
     </li>

	   <li>
      <a href="#i/search/alphabet" class="submenu-text">Alphabet Collection</a>
     </li>
	  </ul>
   </li>
      
   <li>
    <a href="#i/search/alphabet" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="gift-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right hamburger-menu-text">
       Gifting
      </div>
     </div>
    </a>   
   </li>
      
   <li>
    <a href="#i/brands" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="shop-by-brands-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Shop by brands
       </div>
      </div>
     </div>
    </a>   
   </li>
                    
   <li>
    <a href="#i/lookbook" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="lookbook-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Lookbook
       </div>
      </div>
     </div>
    </a>   
   </li>

   <li class="dropdown1">
    <a href="#" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="about-vivocarat-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right hamburger-menu-text">
       About VivoCarat
       <img src="images/mobile/header/icons/hamburger/menu dropdown.png" class="about-vivocarat-dropdown-icon">
      </div>
     </div>
    </a>
       
    <ul>
	   <li>
      <a href="#i/about" class="submenu-text">VivoCarat Advantage</a>
     </li>

	   <li>
      <a href="#i/faq" class="submenu-text">FAQ's</a>
     </li>

	   <li>
      <a href="#i/faq/Lifetime" class="submenu-text">Lifetime Return Policy</a>
     </li>

     <li>
      <a href="#i/faq/Shipping" class="submenu-text">Shipping Policy</a>
     </li>

     <li>
      <a href="#i/faq/Payment" class="submenu-text">Payment Options</a>
     </li>

     <li>
      <a href="#i/faq/Return" class="submenu-text">Return Policy</a>
     </li>

     <li>
      <a href="#i/partner" class="submenu-text">Seller Connect</a>
     </li>

     <li>
      <a href="#i/privacypolicy" class="submenu-text">Privacy Policy</a>
     </li>

     <li>
      <a href="#i/terms" class="submenu-text">Terms Of Use</a>
     </li>
	  </ul>
   </li> 

   <li>
    <a href="#i/account" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="account-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Account
       </div>
      </div>
     </div>
    </a>   
   </li>

   <li>
    <a href="#i/contact" style="border-bottom: 1px solid #f1f1f1;">
     <div class="row">
      <div class="col-sm-3 no-padding-left-right">
       <div class="contact-icon"></div>
      </div>

      <div class="col-sm-9 no-padding-left-right">
       <div class="hamburger-menu-text">
         Contact us
       </div>
      </div>
     </div>
    </a>   
   </li> 
  </ul>
 </div>

 <div class="col-sm-6 col-sm-offset-1 text-center no-padding-left">
  <a href='#i/home'>
   <div class="vivocarat-logo-sm"></div>
  </a>
 </div>

 <div class="col-sm-1 no-pad">
  <a href="tel:+91-916-764-5314">
   <div class="call-icon-sm"></div>
  </a>
 </div>

 <div class="col-sm-2 no-pad text-center">
  <a href="#i/checkout">

   <img data-ng-src="{{cartIcon}}">

   <span data-ng-if="cart.length>0" class="checkout-number">
   <span data-ng-if="cart.length>0" class="white-colour">
         {{cart.length}}
   </span>
   <span data-ng-if="cart.length<1" class="white-colour">
         0
   </span>
  </span>
  </a>
 </div>

 <div class="col-sm-1 no-pad">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

   <div class="account-menu-icon-sm"></div>

  </a>

  <ul class="dropdown-menu account-menu-sm text-left nav" aria-labelledby="dropdownMenu1">
   <li>
    <a class="menu-text" href="#i/account">
     <div class="row">
      <div class="col-xs-3 no-pad">
       <div class="user-account-icon"></div>
      </div>

      <div class="col-xs-9 no-pad">
       <span>My Account</span>
      </div>
     </div>
    </a>
   </li>

   <li>
    <a class="menu-text" href="#i/orders">
     <div class="row">
      <div class="col-xs-3 no-pad">
       <div class="user-orders-icon"></div>
      </div>

      <div class="col-xs-9 no-pad">
       <span>My Orders</span>
      </div>
     </div>
    </a>
   </li>

   <li role="separator" class="divider"></li>

   <li>
    <a data-ng-if="authenticated" class="menu-text" data-ng-click="logout()">
       Log Out
    </a>
    <a data-ng-if="!authenticated" class="menu-text" href="#login/0">
       Sign In
    </a>
   </li>
  </ul>
 </div>	
			
</div>

</div>

<div id="swipe-stripe"></div>

<script>
  $(function() {
    $( '#dl-menu' ).dlmenu({
      animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
    });
      
    $( '#dl-menu-sm' ).dlmenu({
      animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
    });
      
     $('li.dropdown1').click(function() {
           $('li.dropdown1').not(this).find('ul').hide();
           $(this).find('ul').toggle();
      });
      
      $("#swipe-stripe").on("swiperight",function(){
          $("ul.dl-menu").addClass( 'dl-menuopen dl-menu-toggle' ).on( this.transEndEventName, function() {
				$( this ).removeClass( 'dl-menu-toggle' );
			});
          $(".dl-trigger").addClass( 'dl-active' );
          $('body').addClass("no-scroll");
        });
      
      $("ul.dl-menu").on("swipeleft",function(){
          $(this).removeClass( 'dl-menuopen' );
          $(this).addClass( 'dl-menu-toggle' );
          $(".dl-trigger").removeClass( 'dl-active' );
          $('body').removeClass("no-scroll");
        });
      
      $('.img-back-for-home').click(function() {
           $("ul.dl-menu").removeClass( 'dl-menuopen' );
          $("ul.dl-menu").addClass( 'dl-menu-toggle' );
          $(".dl-trigger").removeClass( 'dl-active' );
          $('body').removeClass("no-scroll");
      });
      
  });
</script>