<!--Modals for mobile-->

<div class="modal fade" id="addToCartSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->

                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product has been added to cart successfully
                    </h>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                </div>
-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="verify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please verify the details entered
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="urlinvalid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        The url is invalid
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="noemail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops we do not have this email id registered with us
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="verifydetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please verify the details entered
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="validdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please use valid credentials and try again.
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="facingerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your order for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pwdreset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        An email has been sent to you to reset the password
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fillShipDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Kindly fill all fields of Shipping details to enable us ship your jewellery
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pwdchanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Password changed successfully. Please Login with your new password
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Updated order successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WrongPromoCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Wrong promocode
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WrongPinCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Wrong PINCODE
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="returnsuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Return has been placed successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="returnfail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error placing a return for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ordercancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Order has been cancelled successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please login
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addpartner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Thanks for contacting us. We will get in touch with you shortly
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="enterValidDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please enter valid details and then click submit
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addToCartAlready" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        The product has already been added to the cart. If you would want to increase the quantity of please do so during checkout
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="verifydetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please verify the details entered
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mailsent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        An email has been sent to you to reset the password
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removewatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product removed from watchlist
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removewatcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error removing products from your watchlist. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadwatcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error loading products from your watchlist. Just give us some time and we will be up and running.
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderplaced" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Your order has been placed successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Review error
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Review added successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewCummErr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Cumulative Review error
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewListErr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Review List error
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderplacederr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error placing the order for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="jewelerr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error loading the jewellry for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VC500" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is applicable for minimum purchase of Rs. 10000
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VC500CO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is applicable for minimum purchase of Rs. 5001
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="VC300CO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is applicable for minimum purchase of Rs. 5000
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="promocodeerr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is already applied
                    </h>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="promocodesuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Promo code is applied successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VC500-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is applicable for minimum purchase of Rs. 5000
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="addwish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product added to wishlist
                    </h>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addwisherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error adding your product to watchlist. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="acfetcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your account details for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderfetcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your order for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderfetchhisterr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your order history for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ordersuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Your order has been placed successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addToCompareSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product added for comparison
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="diffCompare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Kindly compare products of same category
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alreadyAddedToCompare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                       Product already added to compare
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addToCompareFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Maximum 4 products can be added for comparison
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alreadyInCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        The product has already been added to the cart. Would you like to add another one
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" data-ng-click="feed='yes'" class="btn btn-default" data-dismiss="modal">Yes</button>
                    <button type="button" data-ng-click="feed='no'" class="btn btn-default" data-dismiss="modal">No. Thanks</button>


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="loggedIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        {{response}}
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BraceletSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please select Bracelet size before proceeding
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RingSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please select Ring size before proceeding
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BangleSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please select Bangle size before proceeding
                    </h>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="StyleRefModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog" style="width: 90%;margin: auto;">
  <div class="modal-content">
   <div class="modal-body no-pad">

    <div class="row hide" data-step="1" data-title="This is the first step!">
     
     <div class="visible-sm visible-md hidden-xs">
      <div class="row">
       <div class="col-sm-12 no-padding-left-right customer-feedback-background-sm">
        <div class="row">
         <div class="col-sm-12 text-right padding-top-10px" data-dismiss="modal">
          <img src="images/mobile/home/customer feedback/icons/cancel.jpg">
         </div>
        </div>

        <div class="row">
         <div class="col-sm-7 no-padding-right">
          <p class="get-text-sm">GET THE RIGHT JEWELLERY</p>
          <p class="answer-3-text-sm">Answer 3 questions &amp;</p>
          <p class="answer-3-text-sm">see the magic happen</p>
         </div>
        </div>

       </div>
      </div>

      <div class="row">
       <div class="col-sm-12 first-screen-background text-center">
        <a class="start-quiz-button js-btn-step nextshow" id="startquiz" data-orientation="next">START QUIZ</a>

        <p class="skip-text" data-dismiss="modal">SKIP,I'M GOOD</p>
       </div>
      </div>
     </div>
    </div>

        <div class="row hide" data-step="2" data-title="This is the second and last step!">
            <div class="row">
                 <div class="col-sm-12 white-background no-padding-left-right">
                  <div class="row">
                   <div class="col-sm-11 second-screen-background">
                    <p class="jewellery-collection-text-sm">Which jewellery collection are you looking for?</p>
                   </div>

                   <div class="col-sm-1 white-cancel-button-position" data-dismiss="modal">
                    <img src="images/mobile/home/customer feedback/icons/white cancel.jpg">
                   </div>
                  </div>

                  <div class="row padding-top-10px">
                   <div class="col-sm-4">
                    <img class="collection" id="ring" src="images/mobile/home/customer feedback/first screen/rings.png">
                   </div>

                   <div class="col-sm-4">
                    <img class="collection" id="earring" src="images/mobile/home/customer feedback/first screen/earrings.png">
                   </div>

                   <div class="col-sm-4">
                    <img class="collection" id="pendant" src="images/mobile/home/customer feedback/first screen/pendants.png">
                   </div>
                  </div>

                  <div class="row padding-bottom-10px">
                   <div class="col-sm-4 col-xs-offset-2">
                    <img class="collection" id="nosepin" src="images/mobile/home/customer feedback/first screen/nosepins.png">
                   </div>

                   <div class="col-sm-4">
                    <img class="collection" id="not_decided" src="images/mobile/home/customer feedback/first screen/not decided.png">
                   </div>
                  </div>

                  <div class="row">
                   <div class="col-sm-6">
                    <button class="prev-next-button js-btn-step prevshow" data-orientation="previous" id="prevfirst">PREV</button>
                   </div>

                   <div class="col-sm-6 text-right">
                    <button class="prev-next-button js-btn-step nextshow" id="getskin" data-orientation="next">NEXT</button>
                   </div>
                  </div>

                  <div class="row white-background padding-bottom-20px">
                   <div class="col-sm-6 col-sm-offset-4">
                    <div class="step-1"></div>
                   </div>
                  </div>
                 </div>
            </div>          
        </div>

		<div class="row hide" data-step="3" data-title="This is the third and last step!">
            <div class="row white-background">
                  <div class="col-sm-12 no-padding-left-right">
                  <div class="row padding-bottom-30px">
                   <div class="col-sm-11 second-screen-background">
                    <p class="jewellery-collection-text-sm">Which best describes your skin tone?
                     <span class="skin-tone-text">(Note:Skin Tone is not same as Skin Colour)</span>
                    </p>
                   </div>

                   <div class="col-sm-1 white-cancel-button-position" data-dismiss="modal">
                    <img src="images/mobile/home/customer feedback/icons/white cancel.jpg">
                   </div>
                  </div>

                  <div class="row padding-top-60px">
                   <div class="col-sm-4">
                    <p class="skin-tone-heading">COOL</p>
                   </div>

                   <div class="col-sm-4">
                    <p class="skin-tone-heading">WARM</p>
                   </div>

                   <div class="col-sm-4">
                    <p class="skin-tone-heading">NEUTRAL</p>
                   </div>
                  </div>

                  <div class="row padding-bottom-60px">
                   <div class="col-sm-4">
                    <img class="skin" id="cool" src="images/mobile/home/customer feedback/second screen/cool.png">
                   </div>

                   <div class="col-sm-4">
                    <img class="skin" id="warm" src="images/mobile/home/customer feedback/second screen/warm.png">
                   </div>

                   <div class="col-sm-4">
                    <img class="skin" id="neutral" src="images/mobile/home/customer feedback/second screen/neutral.png">
                   </div>
                  </div>

                  <div class="row padding-bottom-60px">
                   <div class="col-sm-6">
                    <button class="prev-next-button js-btn-step prevshow" data-orientation="previous" id="prevsecond">PREV</button>
                   </div>

                   <div class="col-sm-6 text-right">
                    <button class="prev-next-button js-btn-step nextshow" id="getstyles" data-orientation="next">NEXT</button>
                   </div>
                  </div>

                  <div class="row padding-bottom-30px">
                   <div class="col-sm-6 col-xs-offset-4">
                    <div class="step-2"></div>
                   </div>
                  </div>
                  </div>
            </div>
        </div>
          
		<div class="row hide" data-step="4" data-title="This is the third and last step!">
         <div class="row white-background">
                  <div class="col-sm-12 no-padding-left-right">
                  <div class="row">
                   <div class="col-sm-11 second-screen-background">
                    <p class="jewellery-collection-text-sm">Which design do you like the most?
                    </p>
                   </div>

                   <div class="col-sm-1 white-cancel-button-position" data-dismiss="modal">
                    <img src="images/mobile/home/customer feedback/icons/white cancel.jpg">
                   </div>
                  </div>

                  <div class="row padding-top-60px">
                   <div class="col-sm-4">
                    <img class="mstyle" id="trendy" src="">
                   </div>

                   <div class="col-sm-4">
                    <img class="mstyle" id="casual" src="">
                   </div>

                   <div class="col-sm-4">
                    <img class="mstyle" id="traditional" src="">
                   </div>
                  </div>

                  <div class="row padding-bottom-30px padding-top-30px">
                   <div class="col-sm-6">
                    <button class="prev-next-button js-btn-step prevshow" data-orientation="previous" id="prevthird">PREV</button>
                   </div>

                   <div class="col-sm-6 text-right">
                    <button class="prev-next-button js-btn-step nextshow" id="getresult" data-orientation="next">NEXT</button>
                   </div>
                  </div>

                  <div class="row padding-bottom-30px">
                   <div class="col-sm-6 col-xs-offset-4">
                    <div class="step-3"></div>
                   </div>
                  </div>
                  </div>
            </div>
        </div>

        <div class="row hide" data-step="5" data-title="This is the last step!">
         <div class="row customer-feedback-email-background">
          <div class="col-sm-12 no-padding-left-right">
           <div class="row">
            <div class="col-sm-1 col-sm-offset-11 cancel-button-position" data-dismiss="modal">
             <img src="images/mobile/home/customer feedback/icons/cancel.jpg">
            </div>
           </div>

           <div class="row">
            <div class="col-sm-12 customer-feedback-email-position">
             <p class="customer-feedback-email-text">Enter your email address</p>
             <p class="customer-feedback-email-text">to reveal your custom Jewellery Collection</p>
            </div>
           </div>

           <div class="row">
            <div class="col-sm-6 col-sm-offset-3 customer-feedback-email-field-position">
             <input class="customer-feedback-email-field" type="email" Placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" id="stylerefremail" required>
             <p class="customer-feedback-validation-message" id="emailerror">Enter valid email id</p>
            </div>
           </div>

            <div class="row padding-bottom-30px padding-top-30px text-center">
            <div class="col-sm-12">
             <button id="showresult" class="prev-next-button js-btn-step nextshow" data-ng-click="saveStylereference()" data-orientation="next">SHOW RESULTS</button>
            </div>
            </div>

          </div>
         </div>
        </div>

      </div>

    </div>
    </div>
</div>

<!--Signup modal-->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
  
  <div class="signup-modal-outer visible-xs hidden-sm hidden-md">
  <div class="row">
   <div class="col-xs-11 modal-background"></div>
       
   <div class="col-xs-1 no-pad">
    <img src="images/mobile/footer/icons/close.png" alt="close modal" data-dismiss="modal">  
   </div>
  </div>
     
  <div class="row">
   <div class="col-xs-11 signup-side-space">
    
    <div class="row">
     <div class="col-xs-12 signup-background">
      <span class="signup-text">SIGN UP and WIN</span>  
     </div>
    </div>
       
    <div class="row">
     <div class="col-xs-12 signup-fields-background">
      <form name="signupForm" data-ng-submit="signupform()" autocomplete="off" novalidate>
       
       <div class="row">
        <input class="signup-fields" type="text" Placeholder="Name*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name*'" data-ng-model="member_new.name" name="name" id="name" data-ng-required="true" data-ng-pattern="/^[a-zA-Z]+$/">
           
        <div class="signup-validation-message" data-ng-show="signupForm.name.$dirty && signupForm.name.$error.required">Name is required</div>
        <div class="signup-validation-message" data-ng-show="signupForm.name.$dirty && signupForm.name.$error.pattern">Name can contain only alphabets</div>
       </div>
          
       <div class="row padding-top-20px">
        <input class="signup-fields" type="text" Placeholder="Phone*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone*'" data-ng-model="member_new.phone" name="phone" id="phone" data-ng-required="true" data-ng-pattern="/^[0-9]{10,10}$/">
           
        <div class="signup-validation-message" data-ng-show="signupForm.phone.$dirty && signupForm.phone.$error.required">Phone is required</div>
        <div class="signup-validation-message" data-ng-show="signupForm.phone.$dirty && signupForm.phone.$error.pattern">Enter correct phone number</div>  
       </div>
          
       <div class="row padding-top-20px">
        <input class="signup-fields" type="email" Placeholder="Email*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email*'" data-ng-model="member_new.email" name="email" id="email" data-ng-required="true">
           
        <div class="signup-validation-message" data-ng-show="signupForm.email.$dirty && memberForm.email.$error.required">Email is required</div>
        <div class="signup-validation-message" data-ng-show="signupForm.email.$dirty && signupForm.email.$error.email">Invalid Email</div>  
       </div>
          
       <div class="row padding-top-20px">
        <input class="signup-fields" type="password" Placeholder="Password*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password*'" data-ng-model="member_new.password" name="password" id="password" ng-minlength="8" data-ng-required="true">
           
        <div class="signup-validation-message" data-ng-show="signupForm.password.$dirty && signupForm.password.$error.required">Password is required</div>
        <div class="signup-validation-message" data-ng-show="signupForm.password.$dirty && signupForm.password.$error.minlength">Password must be atleast 8 characters</div>  
       </div>
          
       <div class="row">
        <div class="col-xs-12 text-right no-padding-right">
         <sup class="superscript-style">*</sup><a href="#i/terms" class="terms-text">T&amp;C Apply</a>  
        </div>  
       </div>
          
       <div class="text-center padding-top-10px">
        <button class="signup-submit-button" type="submit" data-ng-disabled="!signupForm.$valid">Sign up</button>  
       </div>
          
       <div class="row">
        <div class="col-xs-12 text-center padding-top-20px">
         <span class="have-text">Have an account?</span>&nbsp;<span><a href="#i/login/0" class="signup-login-link">Login</a></span>  
        </div>  
       </div>
          
      </form>
     </div> 
    </div>
       
   </div> 
  </div>
      
  </div> 
     
  <div class="signup-modal-outer visible-sm visible-md hidden-xs">
  <div class="row">
   <div class="col-sm-11 modal-background-sm"></div>
       
   <div class="col-sm-1 no-pad">
    <img src="images/mobile/footer/icons/close.png" alt="close modal" data-dismiss="modal">  
   </div>
  </div>
     
  <div class="row">
   <div class="col-sm-11 signup-side-space-sm">
    
    <div class="row">
     <div class="col-sm-12 signup-background">
      <span class="signup-text-sm">SIGN UP and WIN</span>  
     </div>
    </div>
       
    <div class="row">
     <div class="col-sm-12 signup-fields-background-sm">
      <form name="signupForm" data-ng-submit="signupform()" autocomplete="off" novalidate>
       
       <div class="row">
        <input class="signup-fields-sm" type="text" Placeholder="Name*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name*'" data-ng-model="member_new.name" name="name" id="name" data-ng-required="true" data-ng-pattern="/^[a-zA-Z]+$/">
           
        <div class="signup-validation-message-sm" data-ng-show="signupForm.name.$dirty && signupForm.name.$error.required">Name is required</div>
        <div class="signup-validation-messages-sm" data-ng-show="signupForm.name.$dirty && signupForm.name.$error.pattern">Name can contain only alphabets</div>
       </div>
          
       <div class="row padding-top-20px">
        <input class="signup-fields-sm" type="text" Placeholder="Phone*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone*'" data-ng-model="member_new.phone" name="phone" id="phone" data-ng-required="true" data-ng-pattern="/^[0-9]{10,10}$/">
           
        <div class="signup-validation-message-sm" data-ng-show="signupForm.phone.$dirty && signupForm.phone.$error.required">Phone is required</div>
        <div class="signup-validation-message-sm" data-ng-show="signupForm.phone.$dirty && signupForm.phone.$error.pattern">Enter correct phone number</div>  
       </div>
          
       <div class="row padding-top-20px">
        <input class="signup-fields-sm" type="email" Placeholder="Email*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email*'" data-ng-model="member_new.email" name="email" id="email" data-ng-required="true">
           
        <div class="signup-validation-message-sm" data-ng-show="signupForm.email.$dirty && memberForm.email.$error.required">Email is required</div>
        <div class="signup-validation-message-sm" data-ng-show="signupForm.email.$dirty && signupForm.email.$error.email">Invalid Email</div>  
       </div>
          
       <div class="row padding-top-20px">
        <input class="signup-fields-sm" type="password" Placeholder="Password*" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password*'" data-ng-model="member_new.password" name="password" id="password" ng-minlength="8" data-ng-required="true">
           
        <div class="signup-validation-message-sm" data-ng-show="signupForm.password.$dirty && signupForm.password.$error.required">Password is required</div>
        <div class="signup-validation-message-sm" data-ng-show="signupForm.password.$dirty && signupForm.password.$error.minlength">Password must be atleast 8 characters</div>  
       </div>
          
       <div class="row">
        <div class="col-sm-12 text-right no-padding-right">
         <sup class="superscript-style-sm">*</sup><a href="#i/terms" class="terms-text-sm">T&amp;C Apply</a>  
        </div>  
       </div>
          
       <div class="text-center padding-top-10px">
        <button class="signup-submit-button-sm" type="submit" data-ng-disabled="!signupForm.$valid">Sign up</button>  
       </div>
          
       <div class="row">
        <div class="col-sm-12 text-center padding-top-20px">
         <span class="have-text-sm">Have an account?</span>&nbsp;<span><a href="#i/login/0" class="signup-login-link-sm">Login</a></span>  
        </div>  
       </div>
          
      </form>
     </div> 
    </div>
       
   </div> 
  </div>
      
  </div>
     
 </div>
</div>

<!--Script for showing modal after website finishes loading-->
<script>
    jQuery(document).ready(function(){
        function signupmodal() {
            $('#signup').modal('show');
        }
//To show modal everytime       
//         setTimeout(function () {
//             signupmodal();
//         }, 1000);
//END of showing modal everytime

        if (document.cookie.indexOf('visited=true') == -1) 
        {
            var fifteenDays = 1000*60*60*24*15;
            var expires = new Date((new Date()).valueOf() +  fifteenDays);
            setTimeout(function () {
                signupmodal();
                document.cookie = "visited=true";
            }, 10000)
        }
    });
</script> 
<!--END of script for loading modal popup-->


    <script>
    $(document).ready(function() {
        function showsuggestmodal() {
            $('#StyleRefModal').modalSteps().modal('show');
            $('#getskin').prop("disabled", true);
            $('#getstyles').prop("disabled", true);
            $('#getresult').prop("disabled", true);
            $('#showresult').prop("disabled", true);
            $('#emailerror').hide();
        }

        //to show modal always
        // setTimeout(function () {
        //     showsuggestmodal();
        // }, 5000);
        // end of showing modal always
        
		
        //to show modal once
        if (document.cookie.indexOf('visited=true') == -1) 
        {
            var fifteenDays = 1000*60*60*24*15;
            var expires = new Date((new Date()).valueOf() +  fifteenDays);
            setTimeout(function () {
                showsuggestmodal();
                document.cookie = "visited=true";
            }, 5000)
        }
        //END of showing modal once
        

        $('.nextshow').click(function(e) {
            
            if ( $( "img.collection" ).is( ".imgcollselected" ) ) 
            {
                $('#getskin').prop("disabled", false);
            }
            else
            {
                $('#getskin').prop("disabled", true);
            }
            
            if ( $( "img.skin" ).is( ".imgskinselected" ) ) {
                $('#getstyles').prop("disabled", false);
            }
            else
            {
                $('#getstyles').prop("disabled", true);
            }
            
            if ( $( "img.mstyle" ).is( ".imgstyleselected" ) ) {
                $('#getresult').prop("disabled", false);
            }
            else
            {
                $('#getresult').prop("disabled", true);
            }
            
            var id = $(this).attr('id');
            if(id==='getstyles')
            {
                var collectionid = $('.imgcollselected').attr('id');
                var skinid = $('.imgskinselected').attr('id');
                
                if(collectionid==='not_decided')
                {
                    $('#trendy').attr('src', "images/mobile/home/customer feedback/third screen/ring/ring model 1.png");
                    $('#casual').attr('src', "images/mobile/home/customer feedback/third screen/ring/ring model 2.png");
                    $('#traditional').attr('src', "images/mobile/home/customer feedback/third screen/ring/ring model 3.png");
                }
                else
                {
                    $('#trendy').attr('src', "images/mobile/home/customer feedback/third screen/"+collectionid+"/"+collectionid+" model 1.png");
                    $('#casual').attr('src', "images/mobile/home/customer feedback/third screen/"+collectionid+"/"+collectionid+" model 2.png");
                    $('#traditional').attr('src', "images/mobile/home/customer feedback/third screen/"+collectionid+"/"+collectionid+" model 3.png");
                }  
            }
                        
            $('.modal-dialog').hide();
            $('.modal-dialog').animate( { "opacity": "show"} , 'slow' );
                        
        });
        
        $('.prevshow').click(function(e) {
            if ( $( "img.collection" ).is( ".imgcollselected" ) ) 
            {
                $('#getskin').prop("disabled", false);
            }
            else
            {
                $('#getskin').prop("disabled", true);
            }
            
            if ( $( "img.skin" ).is( ".imgskinselected" ) ) {
                $('#getstyles').prop("disabled", false);
            }
            else
            {
                $('#getstyles').prop("disabled", true);
            }
            
            if ( $( "img.mstyle" ).is( ".imgstyleselected" ) ) {
                $('#getresult').prop("disabled", false);
            }
            else
            {
                $('#getresult').prop("disabled", true);
            }
            
            $('.modal-dialog').hide();
            $('.modal-dialog').animate( { "opacity": "show"} , 'slow' );
        });
        
        $('img.collection').click(function(){
            $('#getskin').prop("disabled", false);
            $('.imgcollselected').removeClass('imgcollselected');
            $(this).addClass('imgcollselected');
        });
        
        $('img.skin').click(function(){
            $('#getstyles').prop("disabled", false);
            $('.imgskinselected').removeClass('imgskinselected');
            $(this).addClass('imgskinselected');
        });
        
        $('img.mstyle').click(function(){
            $('#getresult').prop("disabled", false);
            $('.imgstyleselected').removeClass('imgstyleselected');
            $(this).addClass('imgstyleselected');
        });
        
        $("#stylerefremail").bind('keyup', function(event) {
            var email = $(this).val();
            var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            if (testEmail.test(email))
            {
                $('#emailerror').hide();
                $('#showresult').prop("disabled", false);
            }
            else
            {
                $('#emailerror').show();
            }
        });
    });
    </script>