<style>
 body {
        margin: 0px;
    }
</style>

<div class="hidden-background-colour">
 <div class="container hidden-header-structure">
  <div class="row">
            
   <div data-ng-if="!authenticated" class="col-md-8">
    <img src="images/header/icons/email.jpg">&nbsp;&nbsp;
     <span class="white-colour">
           hello@vivocarat.com &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
     </span>

     <img src="images/header/icons/call.jpg"> &nbsp;
      <span class="white-colour">
            +91&nbsp;9167645314
      </span>
    </div>

    <div data-ng-if="authenticated" class="col-md-7">
     <img src="images/header/icons/email.jpg">&nbsp;&nbsp;
      <span class="white-colour">
            hello@vivocarat.com &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      </span>

      <img src="images/header/icons/call.jpg"> &nbsp;
       <span class="white-colour">
             +91&nbsp;9167645314
       </span>
     </div>

     <div data-ng-if="!authenticated" class="col-md-4 text-right unauthenticated-structure">
      <a class="userProfile padding-right-10px" href="p-account.html">
         My Account
      </a>
                
      <h class="white-colour">|</h>

      <a class="userProfile padding-left-10px" href="p-login.html?id=0" data-ng-hide="authenticated">
         Login/Register
      </a>
     </div>

     <div data-ng-if="authenticated" class="col-md-5 authenticated-structure">
      <div class="row">
       <div class="col-md-12 text-right white-colour">
        <a class="userProfile padding-right-10px" href="p-account.html">
           My Account 
        </a>
                        
        <h class="white-colour padding-right-10px padding-left-10px">|</h>

        <a class="userProfile padding-right-10px padding-left-10px" href="p-orders.html">
           Orders
        </a>
                        
        <h class="white-colour">|</h>

        <a class="userProfile hi-username">Hi, {{name}}</a>

        <a class="userProfile padding-left-10px" data-ng-click="logoutJquery()">Sign Out</a>
       </div>
      </div>
     </div>

   </div>
  </div>
 </div>

<div class="container" style="height: 88px;">
 <div class="row" style="margin-top: 8px;">

  <div class="col-md-2">
   <a href="index.html">
    <img src="images/header/logos/logo.png" class="padding-top-20px padding-bottom-20px">
   </a>
  </div>

  <div class="col-md-8 text-center usp-header">
    Trusted Jewellers &nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;Certified & Hallmarked &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Free Shipping &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Easy Return Policy
  </div>

  <div class="col-md-2 text-right">
   <a href="p-checkout.html">
   
    <img class="cart-image-position" src="images/header/icons/cart bag.png">

    <div class="cart-length" data-ng-if="cart.length>0">
        ({{cart.length}})
    </div>

    <div class="cart-length-nil" data-ng-if="cart.length<1 || !cart || !cart.length">
        (0)
    </div>

   </a>
  </div>

 </div>
</div>

</div>


<vivo-header-menu></vivo-header-menu>


<div class="row">
 <div class="row" data-ng-if="compare.length>0" style="padding: 20px 0px 20px 20px;background-color: #f5f5f5;">
  <div data-ng-repeat="p in compare" class="col-lg-2 no-pad" style="background-color: #f5f5f5;padding: 0px 10px 0px 0px;">

   <div class="row">
    <div class="col-lg-12 vivo-box-padding vivo-grid" style="margin-top: 3px;padding:0px;height: 229px;">


     <div class="inner_content clearfix box-outside-shadow">
      <div class="product_image">
       <span class="remove" title="remove" data-ng-click="removeFromCompare($index)"></span>
       <img class="img-responsive  carousel-img" data-ng-src="images/products-v2/{{p.VC_SKU}}-1.jpg"/>
       <a data-ng-href="p-product.html?id={{p.id}}&title={{p.slug}}">
           
       <div class="row">
        <div class="col-md-12 no-padding-left-right">

         <div class="row" data-ng-hide="p.discount==0">
          <div class="col-md-6 grid-price-before no-padding-left">
            RS. {{p.price_before_discount | INR}}
          </div>
        
          <div class="col-md-6 grid-off"> 
            {{p.discount}}% OFF
          </div>
         </div>

         <div class="row" data-ng-if="!(p.discount==0)">
          <div class="col-md-12 grid-price-after no-padding-left-right">
            RS. {{p.price_after_discount | INR}}
          </div>
         </div>
       
         <div class="row" data-ng-if="p.discount==0">
          <div class="col-md-12 grid-price-after no-padding-left-right padding-top-20px">
            RS. {{p.price_after_discount | INR}}
          </div>
         </div>

        </div>
                                                      
       </div>
      </div>

     </div>
    </a>

   </div>

  </div>
      
 </div>
     
 <div class="col-lg-2" data-ng-if="compare.length>0 && compare.length<4" style="padding: 20px 0px 20px 20px;background-color: #f5f5f5;">
  <a data-ng-href="p-list.html?type=All&subtype={{compare[0].category}}">
   <img src="images/product/add product.jpg">
  </a>
 </div>

 <div class="col-lg-2 pull-right">
  <div class="row">
   <div class="col-lg-12 text-center" style="padding-top: 65px;">
    <div class="text-center padding-top-20px">
     <a class="btn btn-vivo border-radius-none" data-ng-click="checkCompare()" role="button" align="right">COMPARE</a>
    </div>

    <div class="text-center padding-top-20px">
     <a class="btn btn-vivo border-radius-none" data-ng-click="removeAllCompare()" role="button" align="right">CLEAR ALL</a>
    </div>

   </div>
  </div>
 </div>


 </div>
</div>        