<div class="well" data-ng-hide="isLoaded"> Loading</div>
                            <div class="top-box1" data-ng-mouseover="closeFilter()" data-ng-show="isLoaded" style="">



                                <div data-ng-show="resultList.length<1" class="col-sm-12 well"> No products found</div>


                                <div data-ng-hide="isGrid" data-ng-repeat="p in list track by $index | orderBy:predicate:reverse" class="col-sm-12">

                                    <div class="inner_content1 clearfix" style="margin-top: 25px">
                                        <div class="row">
                                            <a data-ng-href="p-product.html?id={{p.id}}&title={{p.slug}}">
                                                <div class="col-sm-4">
                                                    <div class="product_image">
                                                        <img data-ng-src="images/products/{{p.VC_SKU}}-t.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>


                                            <div class="col-sm-6 vivo-box-padding">

                                                <div class="row margin-top-10px">
                                                    <div class="col-sm-12">
                                                     <span class="bold-font vivocarat-theme-colour">{{p.title}}
                                                     </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">{{p.supplier_name}}</div>

                                                    <br />
                                                    <br />

                                                    <div class="col-sm-3 product_description_border">
                                                        Diamond
                                                    </div>
                                                    
                                                    <div class="col-sm-9">Rough</div>

                                                    <div class="col-sm-3 product_description_border">
                                                        Purity
                                                    </div>
                                                    
                                                    <div class="col-sm-9">
                                                        {{p.purity}}
                                                    </div>

                                                    <div class="col-sm-3 product_description_border">
                                                        Metal
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{p.metal}}
                                                    </div>
                                                </div>
                                                <br/>


                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <div class="col-sm-12 no-padding-left-right">
                                                                <span class="reducedfrom" style="margin-right:2px;"><img src="images/icons/rupee.png">{{resultList[0].price_before_discount}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 no-padding-left-right">({{p.discount}} % off)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 no-padding-left-right" style="margin-top: 10px;">
                                                        <span class="price_box_product_page m_5"><img src="images/icons/rupee.png">{{resultList[0].price_after_discount}}</span>
                                                    </div>
                                                </div>


                                                <br />
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <a data-ng-mouseover="mouseOverCartIcon($index)" data-ng-mouseout="mouseOutCartIcon($index)" style="margin-right: 25px;" class="grat-icon" data-ng-click="addToCart(p)"><img id="{{$index}}-cart" src="images/icons/cart-color.png"></a>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <a data-ng-mouseover="mouseOverWishIcon($index)" data-ng-mouseout="mouseOutWishIcon($index)" style="margin-right: 25px;" class="grat-icon" data-ng-click="addToWatchlist(p)"><img src="images/icons/wishlist.png"></a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




<!--*******************************GRID***************************************-->

                                <div class="container" style="padding-left: 26px;padding-right: 26px;">
                                    <!--
<div class="col-sm-3" style="padding: 0px 0px 0px 3px;">
<div class=" vivo-box-padding vivo-grid" style="margin-top: 3px;">


<div class="inner_content1 clearfix" style="background: #F8F8F8;padding: 10px 10px 0px 10px;">
<div class="product_image" style="padding: 0px 0px 10px 0px;">
 <a data-ng-href="p-product.html?id={{resultList[0].id}}&title={{resultList[0].slug}}"> 
  <img data-ng-src="images/products-v2/{{resultList[0].VC_SKU}}-t.jpg" alt="" />
</a>
</div>

<div class="row margin-bottom-10px">

 <div class="row">
  <div class="col-sm-8 no-padding">

   <div class="row" data-ng-hide="resultList[0].discount==0">
    <div class="col-sm-6 grid-price-before no-padding-left">
        RS. {{resultList[0].price_before_discount | INR}}
    </div>

    <div class="col-sm-6 grid-off">
      {{resultList[0].discount}}% OFF
    </div>
  </div>

   <div class="row" data-ng-if="!(resultList[0].discount==0)">
    <div class="col-sm-12 grid-price-after no-padding">
        RS. {{resultList[0].price_after_discount | INR}}
    </div>
   </div>

   <div class="row" data-ng-if="list[0].discount==0">
    <div class="col-sm-12 grid-price-after no-padding" style="padding-top:20px;">
        RS. {{resultList[0].price_after_discount | INR}}
    </div>
   </div>

 </div>

  <div class="col-sm-4 no-padding-right" data-ng-click="addToCompare(resultList[0])">
   <div class="col-sm-6 no-padding pull-right margin-top-10px">
    <img class="pointer" src="images/list/icons/compare.png" title="Compare">
   </div>
  </div>
</div>

</div>

</div>
</div>
</div>

<div class="col-sm-3" style="padding: 0px 0px 0px 3px;">

<div class="vivo-box-padding vivo-grid" style="margin-top: 3px;">

<div class="inner_content1 clearfix" style="background: #F8F8F8;padding: 10px 10px 0px 10px;">
<div class="product_image" style="padding: 0px 0px 10px 0px;">
 <a data-ng-href="p-product.html?id={{resultList[1].id}}&title={{resultList[1].slug}}">  
  <img data-ng-src="images/products-v2/{{resultList[1].VC_SKU}}-t.jpg" alt="" />
 </a>
</div>

<div class="row margin-bottom-10px">

<div class="row">
 <div class="col-sm-8 no-padding">

  <div class="row" data-ng-hide="resultList[1].discount==0">
   <div class="col-sm-6 grid-price-before no-padding-left">
      RS. {{resultList[1].price_before_discount | INR}}
   </div>

   <div class="col-sm-6 hidden-md grid-off">
    {{resultList[1].discount}}% OFF
   </div>
 </div>

 <div class="row" data-ng-if="!(resultList[1].discount==0)">
  <div class="col-sm-12 grid-price-after no-padding">
    RS. {{resultList[1].price_after_discount | INR}}
  </div>
 </div>

 <div class="row" data-ng-if="resultList[1].discount==0">
  <div class="col-sm-12 grid-price-after no-padding padding-top-20px">
    RS. {{resultList[1].price_after_discount | INR}}
  </div>
 </div>

</div>

<div class="col-sm-4 no-padding-right" data-ng-click="addToCompare(resultList[1])">
  <div class="col-sm-6 no-padding pull-right margin-top-10px">
   <img class="pointer" src="images/list/icons/compare.png" title="Compare">
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-sm-6" style="padding: 0px 0px 0px 3px;">
 <div class="vivo-box-padding vivo-grid" style="margin-top: 3px;padding-right: 3px;">

<div class="inner_content1 clearfix" style="background: #F8F8F8;padding: 10px 10px 0px 10px;height: 331px;">
<div class="product_image" style="padding: 0px 0px 10px 0px;">

                                            haa haa haa….haaye! Naina bole re karorey chatkhaare Kabhi humri gali mein aake jaa re khaye joban ke jo wo hichkore

 <a class="btn btn-vivo button-de" role="button" style="border-radius: 0;float: right;" align="right" data-toggle="modal" data-target="#listModal">READ MORE</a>

 <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document" style="margin-top: 120px;margin-left: 319px;">
 <div class="modal-content" style="width: 100%;">
 <div class="modal-header" style="border: none;padding: 8px;">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 22px;height: 24px;"><span aria-hidden="true">&times;</span></button>
 </div>
 <div class="modal-body text-center" style="padding: 0px 10px 10px 10px;margin-top: 13px;">
  <h class="text-justify" style="font-family: 'leela';font-size:15px;font-weight: bold;color:#E62739;">haa haa haa….haaye! Naina bole re karorey chatkhaare Kabhi humri gali mein aake jaa re khaye joban ke jo wo hichkore jo tumko najaarah dohra re Haaye haaye… haaye haaye! Bedardi raja… jaraa paas to aaja… Main to phool chhadi hoon Ki maachis tu jalaa…. ja Haaye… Phoolon wali teri khatir, Sej hai bichhaayi re.. Sej hai bichhaayi.. bhanwaron ki najro se ye baghiya bachaayi ye maine… Baghiya bachaayi haaye… Bedardi raja… Ho zara paas to aaja re kachchi main kalee hoon mujhe poora khila ja haaye Kauli kauli gori tohe chhuo to maalayi jaise chhuoh to malaayi Rom rom daure re bijli, marode kalayi jab tu marode kalaayi haaye bedardi raja ho zara paas to aaja jo mere gaal pe til hai uss pe dil lutaa ja haaye…! haa haa haa….haaye! Naina bole re karorey chatkhaare Kabhi humri gali mein aake jaa re khaye joban ke jo wo hichkore jo tumko najaarah dohra re Haaye haaye… haaye haaye! Bedardi raja… jaraa paas to aaja… Main to phool chhadi hoon Ki maachis tu jalaa…. ja Haaye… Phoolon wali teri khatir,mere gaal pe til hai uss pe dil lutaa ja haaye…! haa haa haa….haaye! Naina bole re karorey chatkhaare Kabhiteri khatir,mere</h>
  </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
-->

<div class="col-sm-3 vivo-box-padding" data-ng-show="isGrid" data-ng-repeat="p in resultList track by $index | orderBy:predicate:reverse">


<div class="col-sm-3 vivo-box-padding vivo-grid" style="margin-top: 3px;">

 <div class="inner_content1 clearfix" style="background: #F8F8F8;padding: 10px 10px 0px 10px;">
 <div class="tag">
  <img data-ng-if="p.ready_to_ship==1" src="images/list/icons/ready-to-ship.png">
 </div>
 <a data-ng-href="p-product.html?id={{p.id}}&title={{p.slug}}">
  <img src="images/list/icons/image filler.jpg" actual-image="images/products-v2/{{p.VC_SKU}}-t.jpg">
 </a>


 <div class="row margin-bottom-10px">

  <div class="row">
   <div class="col-sm-8 no-padding-left-right">

    <div class="row" data-ng-hide="p.discount==0">
     <div class="col-sm-6 grid-price-before no-padding-left">
         RS. {{p.price_before_discount | INR}}
     </div>
        
     <div class="col-sm-6 grid-off"> 
         {{p.discount}}% OFF
     </div>
    </div>

    <div class="row" data-ng-if="!(p.discount==0)">
     <div class="col-sm-12 grid-price-after no-padding-left-right">
         RS. {{p.price_after_discount | INR}}
     </div>
    </div>
       
    <div class="row" data-ng-if="p.discount==0">
     <div class="col-sm-12 grid-price-after no-padding-left-right padding-top-20px">
         RS. {{p.price_after_discount | INR}}
     </div>
    </div>

 </div>
      
 <div class="col-sm-4 no-padding-right" data-ng-click="addToCompare(p)">
  <div class="col-sm-6 no-padding pull-right margin-top-10px">
   <img class="pointer" src="images/list/icons/compare.png" title="Compare">
  </div>
 </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
